#header{
	height: 360px;
	width: 960px;
	margin-top: -8px;
}

#headContent{
	height: 295px;
	background-color:  white;
	padding-top:65px;	
}
#headContentLeft{
	float:left;
}
#headContentRight{
	float:right;
	width: 280px;
	height: 180px;
	background-color: silver;
	border-style: solid;
	margin-right:20px;
	padding-left: 10px;
	padding-top: 10px;
}
#error{
	color : red;
}
