// ---------------------------- COLORS
@mainBackground:        #c7d1d8;
@mainColor:             #2a3a48;

@links:                 #4794c4;
@linksHover:            #2a5e88;

@headerLight:           #445868;
@headerDark:            @mainColor;
@titleColor:            #556b7b;
@buttonColor:           @mainBackground;
@buttonHover:           #fff;
@activeColor:           #5daad5;

// Folders
@folderBorder:          #9ba5ad;
@folderBackground:      #dbe1e5;
@folderHeaderLight:     #f2f5f8;
@folderHeaderDark:      #dfe2e6;
@folderTitle:           #7a8a99;

// ----------------------------- FONTS
@defaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;

//------------------------------------------------------------------------

a {
    color: @links;
    text-decoration: none;
    &:hover {
        color: @linksHover;
    }
        p.error {
        color: #c00;
        margin-bottom: 10px;
        text-shadow: 1px 1px rgba(0,0,0,.1);
    }
    
}


.button() {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid @headerDark - #111;
    background-color: @headerDark;
    box-shadow: 0 1px 4px rgba(0,0,0,.3),
                inset 0 1px 0 rgba(255,255,255,.2),
                inset 0 -1px 0 rgba(0,0,0,.2);
    text-shadow: -1px -1px 0 rgba(0,0,0,.3);
    color: @buttonColor;
    cursor: pointer;
    &:hover {
        background-color: @headerDark;
        color: @buttonHover;
    }
}

//--------------logged in user CSS---------------------
#user {
	float : right;
	padding-right:10px;
    > * {
        display: inline-block;
    }
    dt {
        color: #603c69;   /*This is the logged in Users name&email color*/
        span {
            opacity: .5;
            font-size: 11px;
        }
    }
    dd {
        a , button {
            .button();
        }
    }
}

#header{
	height: auto;
	width: 960px;
	margin-top: -8px;
}

#socialBar{
	height: 40px;
	background-color:  #e4c4c4;
	padding-top:65px;	
	
}
#socialBarLeft{
	float:left;
}
#socialBarRight{
	float:right;
	height : 30px;
	width : 200px;
	margin-top : 0px;
}
#socializingMenu{
	margin-bottom : 5px;
	height : 30px;
	width : 190px;
	
}
#error{
	color : red;
}
