@(user : User)
@main("Blog"){

<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarLeft">socialNetworking Features</div>
        			<div id="socialBarRight">
						<header id="socializingMenu">
							<dl id="user">
								<dt>@user.fName <span>@user.email</span></dt>
								<dd>logout</dd>
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>

}{
	<p>left content for Blog</p>
}{
	<p>right content for Blog</p>
}
