@(user : User)
@main("Services"){

<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarLeft">
						<ul>
							<li><a><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="14px" height="14px"></a></li>
						</ul>
					</div><!-- socialBarLeft -->
        			<div id="socialBarRight">
						<header id="socializingMenu">
							<dl id="user">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">logout</a></dd>
								} else {
									<dt>logged in as :  <span>@user.fName</span></dt>
									<dd><a href="@routes.Application.index">Log In</a></dd>
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>

}{
	<!-- left content for Services -->
	services coming soon
}{
	<!-- right content for Services -->
	
		
	<div id="adBox">
		FarsiReads' Services includes the variety of services and projects which are being done for you and often by you .
		You can cooperate in the projects or let us know your ideas.
		<br>
	</div>
	
	<!-- -----------------------twitter---------------------- -->
	<a class="twitter-timeline" href="https://twitter.com/FarsiReads" data-tweet-limit="1"
		width="300px" data-chrome="nofooter"
		data-widget-id="485401626165780481">Tweets by @@FarsiReads
	</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>
}
