/*
--------------------- commentFarsi CSS -------------------------

*/


#commentContent{}
#commentList{
	list-style-type:none;
}
#commentList li{
	display: inline;
	margin : 5px;
}
#comment{
	width : 600px; 
	height : auto; 
	background-color : white;
	padding-right : 15px;
	padding-top : 1px;
	padding-bottom : 1px;
	padding-right : 0px;
}

#usr_photo{
	float : right;
	width : 50px;
	height : 50px;
}
.usrPhoto{
	width : 50px;
	height : 50px;
}
#commentRightBlock{
	width : 530px;
	float : right;
	height : auto;
	margin-right : 10px;
}
#usr_name{
	width : 200px;
	float : right;

}
#post_published{
	width : 120px;
	float : left;
	opacity : 0.8;
}
#usr_comment{
	clear : both;

}
#textArea{
	margin-right : 38px;
}
#clear {
	clear : both;
}
