#commentContent{}
#commentList{
	list-style-type:none;
}
#commentList li{
	display: inline;
	margin : 5px;
}
#comment{
	width : 600px; 
	height : auto; 
	background-color : white;
	padding-left : 15px;
	padding-top : 1px;
	padding-bottom : 1px;
}
#usr_photo{}
#usr_name{}
#post_published{}
#usr_comment{}
