//---------------------------------COLORS--------------------------------------
@skyBlue:               #87ceeb;
@skyBlueLight:          #dbf0f9;
@skyBlueLighter:        #cae9f6;
@royalPurple:           #8751a9;
@royalPurpleLight:      #e8c1f1;
@royalPurpleDark:       #65448e;
@scarlet:               #da000f;
@blueLight:				#c4c4ff;
@blueLightest:          #d8d8ff;
@blueDark:				#00009d;
@mainBackground:        #f4efe9;	//#ececec;
//------------------------------------------------------------------------------
// ----------------------------- FONTS -----------------------------------------
@defaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;
@font-face {
	font-family : NasimBreeze;
	src : url('/assets/fonts/NasimBreeze.ttf');
}
@farsiFont: 		   14px "tahoma","arial"; //18px "NasimBreeze";
@headerFont:           1em/24px arial ,"Lucida Grande","Helvetica Neue", sans-serif;
//-----------------------------------------------------------------------------


body{
	background-color : @mainBackground;
}

#wrapper{
	margin: 0 auto;
	height: 400px;
	width: 410px;
	font : @farsiFont;
}

#registerForm{
	margin-top : 50px;
}	

// the inputText will be translated to the "dl dt dd" tages after compilation
dl {
	text-align : left;
	padding-left: 20px;
    > * {
        display: inline-block;
    }
    
    dt {
        color: #ffff;
        span {
            opacity: .5;
            font-size: 11px;
        }
        
    }
    dd {
        color: grey;
        font-size: 12px;            
    }

 }
 
 /*ERROR:This tag does'n work to make the errors red!*/
 dd error{color:red;}
 
#fName{
 	text-align : right;
 	width : 153px;
 }
#lName{
 	text-align : right;
 	width : 153px;
 }
 #email{
 	text-align : right;
 	width : 153px;
 }
 #repeatEmail{
 	text-align : right;
 	width : 153px;
 }
 #password{
 	text-align : right;
 	width : 153px;
 }

#day_field{
 	float:left;
 }
#month_field{
 	float:left;
 }
#year_field{
 	float:left;
 }
#day_field dd{
 	margin-right: 0px;
 }
#month_field dd{
 	margin-right: 0px;
 }
#year_field dd{
 	margin-right: 0px;
 }
 #day{
 	text-align : right;
 	width : 40px;
 }
 #month{
 	text-align : right;
 	width : 100px;
 }
 #year{
 	text-align : right;
 	width : 60px;
 }
 #address{
 	text-align : right;
 	width : 153px;
 	clear : both;
 }
 label{
 	font-weight:bold;
 }
 #clear{
 	clear : both;
 }
 #submitBtn{
 	margin-right : 275px;
 	font : @farsiFont;
 	width : 90px;
 	margin-top : 5px;
 }

 a{
 	font-size : 0.7em;
 	color : gray;
 }
 #gender_field dd{
 	margin-left : -15px;
 }
 #gender_0{
 	margin-right : 30px;
 }
  #gender_1{
  	margin-right : 25px;
  }
  #upload_widget_opener{
  	margin-right : 30px;
  }
  .myUploadClass{
  	width : 70px;
  	height : 20px;
  	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #028d58 0%, #028d58 100%) repeat scroll 0 0;
    border-radius: 6px;
    color: #fefeff;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 15px;
    text-decoration: none;
    margin-right : 10px;
  }
  #photo_input{
  	margin-right : 15px;
  }
  #footerImage{
  	margin: 0 auto;
  }
   #footerImage img{
   	padding-right : 50px;
   }
 #footer{
 	padding-right : 100px;
 	font-size : 0.8em;
 	color : gray;
 }  