//----------------------------Farsi--------------------------------------------


// ----------------------------- FONTS ---------------------------------------
@font-face {
	font-family : NasimBreeze;
	src : url('/assets/fonts/NasimBreeze.ttf');
}
@defaultFont: 			   18px "NasimBreeze","Tahoma","Arial";
@headerFont:               20px "NasimBreeze","Tahoma","Arial";
@alternativeFont:          14px "tahoma","arial";

@OldDefaultFont:           14px "Lucida Grande","Helvetica Neue", sans-serif;

//-------------------------------COLORS-----------------------------------------

@skyBlue:               #87ceeb;
@skyBlueLight:          #dbf0f9;
@skyBlueLighter:        #cae9f6;
@royalPurple:           #8751a9;
@royalPurpleLight:      #e8c1f1;
@royalPurpleDark:       #65448e;
@scarlet:               #da000f;
@blueLight:				#c4c4ff;
@blueLightest:          #d8d8ff;
@blueDark:				#00009d;
//------------------------------------------------------------------------------

#header{
	height: 360px;
	width: 960px;
	margin-top: -8px;
}

#headContent{
	height: 295px;
	//background-color:  silver;
	//border-bottom : solid #75bfb8;
	padding-top:65px;	
}
#headContentLeft{
	float:left;
}
#headContentRight{
	float:right;
	width: 280px;
	height: 180px;
	background-color: #75bfb8;		//@blueLight;
	border: 1px solid @blueDark;
	margin-right:20px;
	padding-right: 10px;
	padding-top: 10px;
	color : black;					//@blueDark;
	font : @alternativeFont;
}
#headContentRight a{
	color : white;
}
#error{
	color : red;
	font-size : 0.8em;
}

#infoBox{
	width : 620px;
	height : 150px;
	margin-bottom : 2px;
	padding-bottom : 6px;
	font : @defaultFont;
}
#infoBoxLeft{
	float : left;
	height : 130px;
	width : 290px;
	margin-left : 10px;

}
#infoBoxRight{
	float : right;
	height : 130px;
	width : 290px;
	margin-right : 10px;

}
.rightAlign{
	text-align : right;
	lang : fa;
}
.rightAlign span{
	font : @defaultFont;
	color : gray;
}

/*----------------------BOOK WINDOW--------------------*/
#bookBox{
	border-top : solid #75bfb8;
	border-bottom : solid #75bfb8;
	background-color: white;
	height : auto;
	width : 96%;
	margin-right : 8px;
	padding-bottom : 10px;
	font : @defaultFont;
}
#bookBox p{
	padding : 2px 15px 2px 10px;
	line-height : 1.5;
}
#categoryBox{
	margin : 5px 10px 10px 10px;
	padding-right : 25px;
	width : 90%;
	height : 170px;
	border : 2px solid #dddddd;
}
#categoryBox h4{
	height : 7px;
	width : 200px;
	margin-top : 5px;
	margin-right : -5px;
	color : Black;			       //#75bfb8;  @blueDark;
}
.right{
	float : right;
	padding-right : 10px;
	padding-top : 0px;
	width : 23.1%;
	padding-bottom : 15px;
	font-size : 0.9em;
}
.right a{
	text-decoration : none;
	line-height : 1.5;
	color : Black;					//@blueDark;
	font : @alternativeFont;
}
/*----------------------BLOG WINDOW--------------------*/

#blogBox{
	clear : both;
	font : @defaultFont;
}
#latestPost{
	padding-right : 10px;
}
#latestPostImg{
	width : 420px;
	height : 300px;
	float : left;

}
#latestPostImg img{
	width : 405px;
	height : 244px;
	border-style : solid;
}
#latestPostSum{
	float : right;
	width : 220px;
	height : auto;
	//background-color: silver;
	padding-right : 3px;
}
#latestPostSum p{
	font : @alternativeFont;
	line-height : 20px;
	margin : 7px;
}
#latestPostSum h4{
		padding-right : 7px;
		padding-left : 5px;
		font : @headerFont;
}
#latestPostLinks{
	clear : both;
	padding : 1px 10px 3px 0px;
}
#latestPostLinks a{
	/*text-decoration : none;
	border-style : solid;
	border-width : 1px;*/
	color : Black;			//@blueDark;
	font : 	@defaultFont;
}
#latestPostLinks b{
	//color : black;
}
/*--------------------ACTIVITY WINDOW--------------------*/
#activityBox{
	float : right;
	width : 62%;
	height : 100%;
	padding-right : 5px;
	padding-bottom : 5px;
	font : @defaultFont;
}
#activityList{
	list-style-type : none;
	height : 100%;
	width : 100%;
	padding-right : 3px;
	padding-left : 10px;
	margin-bottom : 0px;
}
#activityList li{
	height : 70px;
}
#service{
	height : 44px;
	width : 100%;
	//background-image : url('/assets/fonts/CSlewis.jpg');
}
#service img{
	width : 40px;
	height : 40px;
	float : right;
}
#service p{
	float : right;
	width : 80%;
	margin-right : 5px;
	font : @defaultFont; 
}
#toServiceLink{
	margin-top : 5px;
	margin-bottom : 15px;
}
#toServiceLink a{
	color : black;
}
/*--------------------QUOTATION WINDOW--------------------*/
#quotationBox{
	border : 2px solid #dddddd;
	background-color : #ededed;
	font : @defaultFont;
	float : left;
	width : 34%;
	padding-right : 3px;
	margin-left : 8px;
	margin-top : 15px;
}
#quotationBox img{
	width : 50px;
	height : 66px;
	float : right;
	margin-left : 8px;
}
#quotationBox a{
	text-decoration : none;
	color : gray;
}
#quotationBox h3{
	color : #75bfb8;   //@blueDark;
}
#quoteText{
	word-wrap : break-word;
	font-size : 14px;
	padding-bottom : 5px;
}
//-----------------------------------------------
h3{
	font : @headerFont;
	color : #75bfb8;	//@blueDark;
	font-weight : bold;
}
#clear{
	both: clear;
}
#horizonLine{
	border-top:solid #75bfb8;
	width : 94%;
	margin-right:10px;
	margin-bottom:4px;
 }
//-----------------------the right Sidebar---------------------

#visitorCount{
	background-color : white;
	height : 0 auto;
	margin-top : 3px;
	padding : 3px;
	padding-right : 10px;
	font : @alternativeFont;
}
#visitorCount p{
	//font-size : 1.3em;
}
#visitorCount span{
	font-size : 0.9em;
}
.twitter-timeline{
	margin-top : 5px;
}
#adBox{}