//--------------------------FONTS-----------------------------------
@font-face {
	font-family : NasimBreeze;
	src : url('/assets/fonts/NasimBreeze.ttf');
}
@defaultFont: 			   18px "NasimBreeze","Tahoma","Arial";

@headerFont:               20px "NasimBreeze","Tahoma","Arial";
@alternativeFont:          14px "tahoma","arial";
@OldDefaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;
//-------------------------------------------------------------------

#testimonial{
	background-color : white;
	height : 0 auto;
	margin-bottom : 10px;
    padding-top : 1px;
    padding-bottom : 1px;
}
.rightBoxHeader{
	font : @defaultFont;
    font-size : 1.2rem;
    margin-top : 0px;
}
.readable{
	font : @alternativeFont;
	padding-bottom : 10px;
}
#eval{
	background-color : white;
	height : 0 auto;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-right : 10px;
	padding-left : 5px;
	font : @alternativeFont;
}