// ----------------------------- FONTS -----------------------------------
@font-face {
	font-family : NasimBreeze;
	src : url('/assets/fonts/NasimBreeze.ttf');
}
@defaultFont: 			   17px "NasimBreeze","Tahoma","Arial";

@headerFont:               22px "NasimBreeze","Tahoma","Arial";
@alternativeFont:          14px "tahoma","arial";
@OldDefaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;

//------------------------------------------------------------------------

#bookProfile{}
#bookCover{
	float : right;
	height: 100%;
    width: 150px;
    padding-top : 5px;
    margin-right : 10px;
}

.wtrContainer {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
#coverImage{
	width: 150px;
	//height : ?;
}
#leftBlock{
	width : 445px;
	float : right;
	margin-right : 15px;
	padding-top : 5px;
	height : 100%;
}
#bookTitleAuthor{
	padding-bottom : 20px;
}


#bookTitleAuthor ul{
	list-style-type : none;
	margin-top : 5px;
	margin-right : -35px;
}
#bookTitleAuthor ul li h1{
	font : @headerFont;
	//font-weight : bold;
	color : #84581e;
}	
.metaInfo{
	font : @alternativeFont;
}
.metaInfo span{
	color : #382110;
}
time{
	font-size : 13px;
}
#summary{
	line-height: 1.4;
	font : @defaultFont;
}
#bookdetails{
	
}
#bookdetails ul{
	list-style-type : none;
	margin-top : 5px;
	margin-right : -35px;
}
#bookdetails li{
	
}
//------------------sharing box------------------
.shareBox{
	width : 90%;
	height : 0 auto;
    border-bottom: 1px dashed #9dbba9;
    border-top: 1px dashed #9dbba9;
	padding-bottom : 5px;
	//margin-bottom : 5px;
	margin-right : 30px;
	padding-right : 15px;
}
.shareBox p{
	font-size : 0.9em;
	color : black;
	font : @alternativeFont;
}
.fb-share-button{
	float:right;
	margin-left : 20px;
}
.g-plus{
	float:right;
}
//-----------------------------------------------------
#reviewBox{
	width : 90%;
	margin-right : 25px;
	margin-bottom : 5px;
	margin-top : 15px;
	font : @alternativeFont;
	background-color: #ededed;
    border: 0 none
}
#reviewBox p{
    font: 17px "NasimBreeze","Tahoma","Arial";
    padding-right: 10px;
}
#reviewBox legend{
	//height : 30px;
	//padding-top : 5px;
	color: #84581e;		//#75bfb8;
    font: 22px "NasimBreeze","Tahoma","Arial"
}

#reviewBox h3{
	margin-top : 0px;
	margin-bottom : 0px;
	color : #84581e;
	font-weight : normal;
}
#clean{
	clear : both;
}
//-------------------------Right Boxes---------------------
.rightBoxHeader{
	font : @defaultFont;
    font-size : 1.2em;
    margin-top : 0px;
    border-bottom : 1px solid #ebe8d5;
}
.rightBoxHeader span{
	color : red;
	font-size : 0.8em;
}
#otherBooksContainer{
	text-align: center;
}
.readable{
	font : @alternativeFont;
	padding-bottom : 10px;
	height : 0 auto;
}
.authorPhoto{
	float : right;
	padding-left : 10px;
	padding-bottom : 5px;
	width : 50px;
	height : 66px;
}
#virtualshelf{
	background-color : white;
	height : 0 auto;
	margin-bottom : 5px;
	padding-left : 5px;
	padding-right : 10px;
    padding-top : 1px;
    padding-bottom : 1px;
    font : @defaultFont;
    font-size : 1.2em;
}
#virtualshelf h3{
	margin-bottom : 0px;
}
#virtualshelf ul{
	list-style-type : none;
	font : @alternativeFont;
	padding-right : 5px;
	margin-top : 4px;
	margin-left : 10px;
}
#virtualshelf ul li{
	//border-bottom:1px solid #75bfb8;
	padding-right:4px;
}
#aboutAuthor{
	background-color : white;
	height : 0 auto;
	margin-bottom : 5px;
	padding-left : 5px;
	padding-right : 10px;
    padding-top : 1px;
    padding-bottom : 1px;
    font : @defaultFont;
    font-size : 1.2em;
}
#aFotoDiv{
	height : 0 auto;
}
#authorsOtherWorks{
	background-color : white;
	height : 0 auto;
	margin-bottom : 5px;
	padding-left : 5px;
	padding-right : 10px;
    padding-top : 1px;
    padding-bottom : 1px;
    font : @defaultFont;
    font-size : 1.2em;
}
#relatedWorks{
	background-color : white;
	height : 0 auto;
	margin-bottom : 5px;
	padding-left : 5px;
	padding-right : 10px;
    padding-top : 1px;
    padding-bottom : 1px;
    font : @defaultFont;
    font-size : 1.2em;
}
#relatedWorks p{
    font-size : 1em;
}
#relatedWorks img{
    box-shadow: 0 2px 3px rgba(50, 50, 50, 0.15);
    height: 130px;
}
#relatedWorksContainer{
	text-align: center;
}

.form {
    border: 1px solid #f3ae4b;
    font: 18px "NasimBreeze","Tahoma","Arial";
    height: 30px;
    margin: 6px 0 0 7px;
    padding-right: 10px;
    text-align: right;
    width: 250px;
}
.subBtn{
    background: #347a74 none repeat scroll 0 0;
    color: white;
    font: bold 13pt "tahoma","arial";
    margin-top: 5px;
    outline: medium none;
    width: 70px;
    text-align : center;
}
//-------------------------star Rating-------------------------
.starRating{
  display        : inline-block;
  position       : relative;
  height         : 24px;
  background     : url("/assets/images/stars.png") repeat-x 0 0;
  vertical-align : bottom;
}

.starRating div{
  float    : left;
  position : relative;
  height   : 24px;
}

.starRating input{
  position : relative;
  z-index  : 1;
  width    : 24px;
  height   : 24px;
  margin   : 0;
  padding  : 0;
  opacity  : 0;
}

.starRating label{
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 24px;
}

.starRating span{
  display : none;
}

.starRating       input:checked       + label,
.starRating:hover input:checked:hover + label{
  background : url("/assets/images/stars.png") repeat-x 0 -24px;
}

.starRating:hover input:checked + label{
  background : transparent;
}

.starRating:hover input:hover + label{
  background : url("/assets/images/stars.png") repeat-x 0 -48px;
}