/*---------------------------------------فارسی---------------------------------*/


// ----------------------------- FONTS -----------------------------------
@font-face {
	font-family : NasimBreeze;
	src : url('/assets/fonts/NasimBreeze.ttf');
}
@defaultFont: 			   17px "NasimBreeze","Tahoma","Arial";

@headerFont:               22px "NasimBreeze","Tahoma","Arial";
@alternativeFont:          14px "tahoma","arial";
@OldDefaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;

//------------------------------------------------------------------------
h3{
    border-bottom: 1px solid #d7d7d7;
}
.elementList {
    border-bottom: 1px solid #d7d7d7;
    font-family: "NasimBreeze","Helvetica Neue","Helvetica",sans-serif;
    padding: 5px;
    height : 70px;
}
.rightAlignedImage {
    float: right;
    margin-left: 10px;
}
.friendInfo {
    float: right;
    overflow: hidden;
    width: 140px;
}
.userLink {
    font-size: 12px;
    font-weight: bold;
    color: #00635d;
    text-decoration: none;
}