//--------------------------FONTS-----------------------------------
@font-face {
	font-family : NasimBreeze;
	src : url('/assets/fonts/NasimBreeze.ttf');
}
@defaultFont: 			   18px "NasimBreeze","Tahoma","Arial";

@headerFont:               20px "NasimBreeze","Tahoma","Arial";
@alternativeFont:          15px "tahoma","arial";
@OldDefaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;
//-------------------------------------------------------------------
#discription{
	font : @defaultFont;
	padding-right : 20px;
}
#dignoseList{
	font : @defaultFont;
}
#testimonial{
	background-color : white;
	height : 0 auto;
	margin-bottom : 10px;
    padding-top : 1px;
    padding-bottom : 1px;
}
#testimonial a{
	float : right;
}
#testimonial img{
	padding-right : 5px;
	height : 60px;
	width : 40px;
}
#info{
	float : right;
	padding-right : 5px;
}
#info span{
	color : #666600;
	font : @alternativeFont;
}
#info p{
	font-size : 0.7em;
	color : #9197a3;
	margin-top : 0;
}
.rightBoxHeader{
	font : @defaultFont;
    font-size : 1.2rem;
    margin-top : 0px;
    padding-right : 3px;
}
.readable{
	font : @alternativeFont;
	padding : 0px 5px 10px 5px;
	
}
#eval{
	background-color : white;
	height : 0 auto;
	padding-top : 2px;
	padding-bottom : 2px;
	padding-right : 10px;
	padding-left : 5px;
	font : @alternativeFont;
}
#desc{
	font : @defaultFont;
	//font-size : 16px;
	line-height: 1.2;
	padding : 10px 20px 10px 5px;
}
li span{
	font : @headerFont;
	color : #2a3a48;
	padding-bottom : 5px;
}
#btm{
	margin-bottom : 5px;
}

#clear{
	clear : both;
}
.form {
    border: 1px solid #f3ae4b;
    font: 16px "NasimBreeze","Tahoma","Arial";
    height: 25px;
    margin: 6px 0 0 7px;
    padding-right: 10px;
    text-align: right;
    width: 250px;
}
.subBtn {
    background: #347a74 none repeat scroll 0 0;
    color: white;
    font: bold 12pt "tahoma","arial";
    margin-top: 5px;
    outline: medium none;
    text-align: center;
    width: 90px;
}