// ---------------------------- COLORS
@mainBackground:        #c7d1d8;
@mainColor:             #2a3a48;
@drawerBackground:      #e1e7ec;
@folderColor:           #6f8193;
@projectColor:          @mainColor;
@layoutBorderColor:     #606d78;

@links:                 #4794c4;
@linksHover:            #2a5e88;

@headerLight:           #445868;
@headerDark:            @mainColor;
@titleColor:            #556b7b;
@buttonColor:           @mainBackground;
@buttonHover:           #fff;
@activeColor:           #5daad5;

// Folders
@folderBorder:          #9ba5ad;
@folderBackground:      #dbe1e5;
@folderHeaderLight:     #f2f5f8;
@folderHeaderDark:      #dfe2e6;
@folderTitle:           #7a8a99;

// ----------------------------- FONTS
@defaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;

//-------------------------------------

body {
    background: @mainBackground;
    color: @mainColor;
    font: @defaultFont;
    -webkit-font-smoothing: antialised;
    -webkit-user-select: none;
}

#wrapper{
	height: auto;
	width: 960px;
	margin: 0 auto;
}

/*----------------------header-------------------------*/
#header{
	height: 105px;
	width: 960px;
	margin-top: -8px;
}
#navigation{
	height: 65px;
	width: 960px;
	background-color: silver;
	position: fixed;
}
#logo{
	float:left;
}
#logo a {
	text-decoration: none;
}
#menu{
	float:right;
	padding-top: 10px;
}
#menu ul {
	list-style-type:none;
}
#menu ul li {
	display: inline;
	margin-right: 25px;
}
#menu ul a{
	text-decoration: none;
}
#menu ul a:hover{
	color:red;
}
#menu ul a:active{
	font-weight: bold;
}
#headContent{
	height: 40px;
	background-color:  grey;
	padding-top:65px;	
}
#headContentLeft{
	float:left;
}
#headContentRight{
	float:right;
	width: 280px;
	height: 30px;
	background-color: grey;
	/*border-style: solid;
	margin-right:20px;*/
	padding-left: 10px;
}

/*----------------------content------------------------*/
#content{
	height: 1000px;
	width: 960px;
}
#contentleftPanel{
	width: 625px;
	height: 1000px;
	float: left;
	background-color: white;
}
#contentRightPanel{
	width: 300px;
	height: 800px;
	float: right;
	background-color: silver;
}

/*----------------------footer-------------------------*/
#footer{
	width: 960px;
	height: 100px;
	background-color: silver; 
}

#clear{
	both: clear;
}



//-------------------------------------------------------



a {
    color: @links;
    text-decoration: none;
    &:hover {
        color: @linksHover;
    }
        p.error {
        color: #c00;
        margin-bottom: 10px;
        text-shadow: 1px 1px rgba(0,0,0,.1);
    }
    
}


.button() {
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid @headerDark - #111;
    background-color: @headerDark;
    box-shadow: 0 1px 4px rgba(0,0,0,.3),
                inset 0 1px 0 rgba(255,255,255,.2),
                inset 0 -1px 0 rgba(0,0,0,.2);
    text-shadow: -1px -1px 0 rgba(0,0,0,.3);
    color: @buttonColor;
    cursor: pointer;
    &:hover {
        background-color: @headerDark;
        color: @buttonHover;
    }
}

//--------------logged in user CSS---------------------
#user {
	float : right;
	padding-right:10px;
    > * {
        display: inline-block;
    }
    dt {
        color: #fff;
        span {
            opacity: .5;
            font-size: 11px;
        }
    }
    dd {
        a , button {
            .button();
        }
    }
    
}