// ---------------------------- COLORS
@mainColor:             #2a3a48;
@drawerBackground:      #e1e7ec;
@folderColor:           #6f8193;
@projectColor:          @mainColor;
@layoutBorderColor:     #606d78;

@links:                 #4794c4;
@linksHover:            #2a5e88;

@headerLight:           #445868;
@headerDark:            @mainColor;
@titleColor:            #556b7b;
@buttonColor:           @mainBackground;
@buttonHover:           #fff;
@activeColor:           #5daad5;
//------------------------------------------------------------------------------
@skyBlue:               #87ceeb;
@skyBlueLight:          #dbf0f9;
@skyBlueLighter:        #cae9f6;
@royalPurple:           #8751a9;
@royalPurpleLight:      #e8c1f1;
@scarlet:               #da000f;
@blueLight:				#c4c4ff;
@blueLightest:          #d8d8ff;
@blueDark:				#00009d;
@mainBackground:        #f4efe9;	//#ececec;

// ----------------------------- FONTS
@defaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;
@font-face {
	font-family : NasimBreeze;
	src : url('/assets/fonts/NasimBreeze.ttf');
}
@farsiFont: 		   18px "NasimBreeze";
@headerFont:           1em/24px arial ,"Lucida Grande","Helvetica Neue", sans-serif;
//-------------------------------------

body{
	 background: @mainBackground;
     color: @mainColor;
     font: @defaultFont;
     height : auto;
}

#wrapper{
	height: auto;
	width: 960px;
	margin: 0 auto;
}

/*----------------------header-------------------------*/
/*this class should be define accordingly in each page's CSS*/
/*#header{
	height: 360px;
	width: 960px;
	margin-top: -8px;
}*/

#navigation{
	height: 65px;
	width: 960px;
	background-color: #c8db8f;	//@blueLightest;#ddeda3#dbe6a6
	position: fixed;
}
#logo{
	float:left;

}
#logo img{
	height: 50px;   //30px;
	width: 94px;    //128px;
	padding-left: 10px;
	padding-top: 5px;
}

#logo a {
	text-decoration: none;
}
#languageBar{
	float: left;
	padding-left:30px;
	margin-top: -2px;
    > * {
    display: inline-block;
    }
    dt {
        color: #fff;
        span {
            opacity: .5;
            font-size: 11px;
        }
    }
    dd {
        	margin-left:3px;
        }
}

#languageBar dd{

}
#menu{
	float:right;
	padding-top: 10px;
	font : @headerFont;
	font-weight : bold;
}

#menu ul {
	list-style-type:none;
}
#menu ul li {
	display: inline;
	margin-right: 25px;
}
#menu ul a{
	text-decoration: none;  
}
#menu ul a:hover{
	color:red;
}
#menu ul a:active{
	font-weight: bold;
}
//---------------------------farsi menu-----------------------------
#menuFarsi{
	float:right;
	padding-top: 10px;
}

#menuFarsi ul {
	list-style-type:none;
}
#menuFarsi ul li{
	font: @farsiFont;
	display: inline;
	margin-right: 25px;
}
#menuFarsi ul a{
	text-decoration: none;
	color: #575756;
}
#menuFarsi ul a:hover{
	color:red;
}
#menuFarsi ul a:active{
	font-weight: bold;
}

/*----------------------content------------------------*/
#content{
	clear : both;
	height: 100%;
	width: 960px;
	margin-top: 7px;
}
#contentLeftPanel{
	clear : both;
	width: 650px;
	height: 100%;
	float: left;
	background-color: white;
	border-right : solid #75bfb8;
}
#contentRightPanel{
	width: 300px;
	height: 100%;
	float: right;
	background-color: @mainBackground;
}

/*----------------------footer-------------------------*/
#footer{
	clear: both;
	width: 960px;
	height: 50px;
	background-color: #c8db8f;			//#ddeda3;  @blueLightest;
	margin-top : 5px;
}

#footerMenu{
	float:right;
	//padding-top: 3px;
}
#footerMenu ul {
	list-style-type:none;
}
#footerMenu ul li {
	display: inline;
	padding-right: 10px;
	padding-left : 5px;
	border-right : 1px solid black;
	color : #575756;		//black;
	font : @farsiFont;
}
#footerMenu ul a{
	text-decoration: none;
	color : #575756;		//black;
}
#clear{
	both: clear;
}