

body{}

#wrapper{
	height: auto;
	width: 960px;
	margin: 0 auto;
}

/*----------------------header-------------------------*/
#header{
	height: 360px;
	width: 960px;
	margin-top: -8px;
}
#navigation{
	height: 65px;
	width: 960px;
	background-color: silver;
	position: fixed;
}
#logo{
	float:left;
}
#logo a {
	text-decoration: none;
}
#menu{
	float:right;
}
#menu ul {
	list-style-type:none;
}
#menu ul li {
	display: inline;
	margin-right: 25px;
}
#menu ul a{
	text-decoration: none;
}
#menu ul a:hover{
	color:red;
}
#menu ul a:active{
	font-weight: bold;
}
#headContent{
	height: 295px;
	background-color:  aqua;
	padding-top:65px;	
}
#headContentLeft{
	float:left;
}
#headContentRight{
	float:right;
	width: 280px;
	height: 180px;
	background-color: blue;
	border-style: solid;
	margin-right:20px;
	padding-left: 10px;
}

/*----------------------content------------------------*/
#content{
	height: 1000px;
	width: 960px;
}
#contentleftPanel{
	width: 625px;
	height: 1000px;
	float: left;
	background-color: maroon;
}
#contentRightPanel{
	width: 300px;
	height: 800px;
	float: right;
	background-color: navy;
}

/*----------------------footer-------------------------*/
#footer{
	width: 960px;
	height: 100px;
	background-color: silver; 
}

#clear{
	both: clear;
}