//-- -------------------farsi Edition----------------------- --

// ----------------------------- FONTS -----------------------------------
@font-face {
	font-family : NasimBreeze;
	src : url('/assets/fonts/NasimBreeze.ttf');
}
@defaultFont: 			   17px "NasimBreeze","Tahoma","Arial";

@headerFont:               20px "NasimBreeze","Tahoma","Arial";
@alternativeFont:          14px "tahoma","arial";
@OldDefaultFont:           13px "Lucida Grande","Helvetica Neue", sans-serif;

//------------------------------------------------------------------------


#desc{
	font : @defaultFont;
	//font-size : 16px;
	line-height: 1.2;
	padding : 10px 20px 10px 5px;
}
#catalog{
	width : 93%;
	height : 100%;
	border : 2px solid #dddddd;
	margin-bottom : 5px;
	margin-right : 20px;
}
#translation{	
	width : 93%;
	height : 100%;
	border : 2px solid #dddddd;
	margin-bottom : 5px;
	margin-right : 20px;
}
#buildLib{	
	width : 93%;
	height : 100%;
	border : 2px solid #dddddd;
	margin-bottom : 5px;
	margin-right : 20px;
}
#workshop{	
	width : 93%;
	height : 100%;
	border : 2px solid #dddddd;
	margin-bottom : 5px;
	margin-right : 20px;
}
.title{
	font : @headerFont;
	color : #2a3a48;
	padding-bottom : 5px;
}
.icon{
	margin-top : 4px;
	margin-right : 4px;
	margin-left : 7px;
	margin-bottom : 0px;
	float : right;
}
.icon img{
	width : 40px;
	height : 40px;
}
.description{
	font : @defaultFont;
	font-size : 16px;
	line-height: 1.2;
	margin-bottom : 5px;
}
.description p{
	padding-right : 10px;
}
#newBookList{}
.row{}
#bookBox{
	height : 180px; 
	width : 170px;
	float : left ;
	margin-left : 20px;
}
.bookImg{
	height : 133px;
	width : 88px;
	margin-bottom : 5px;
}
.titleText{
	//border-style : solid;
}
#statistics{
	margin-bottom : 5px;
}
#statistics p{
	font : @defaultFont;
	font-size : 16px;
	line-height: 1.2;
}
#statistics img{
	height : 180px; 
	width : 200px;
}
#event p{
	font : @defaultFont;
	font-size : 16px;
	line-height: 1.2;
	padding-right : 10px;
}
#eventForm{
	padding-right : 10px;
	margin-bottom : 5px;
}
#testimonials{
	font : @defaultFont;
	font-size : 16px;
	line-height: 1.2;
}
#testimonials p{
	padding-right : 10px;
}
article{
	width : 92%;
	height : 100%;
	border : 1px solid #75bfb8;
	//background-color : silver;
	margin-right : 10px;
	padding-right : 10px;
	padding-left : 10px;
}
article div{
	margin-bottom : 10px;
}
article span{
	color : #666600;
	font-size : 15px;
}
#testimonyImgs img{
	width : 70px;
	height : 70px;
}
.forward{}