@(user : User, form : Form[About.FeedBack])

@headfill = {	 <link rel="canonical" href="http://www.farsireads.com">
		<!-- This meta tages TESTING -->
		}

@FaMain("درباره ما")(headfill){

<!-- -------------------farsi Edition----------------------- -->
<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FarsiAbout.css")">
     <script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>
     <script src="@routes.Assets.at("javascripts/accordion.js")" type="text/javascript"></script>
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
					
				   @if(user.fName == "Guest"){
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a><img src="@routes.Assets.at("images/icons/homeInactive.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/friendsInactive.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/messageInactive.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/notificationInactive.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/profileInactive.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/settingsInactive.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					} else {
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a href="@routes.Application.loggedIn(0)"><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showFriends("farsi",user.email)"><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showProfile("farsi", user.email)"><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showSettings("farsi")"><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					}
					
					
					
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>مهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index"> ورود </a></dd>
									
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>
        		


}{
	<!--  left content for About Us -->

	<div id="aboutBox">
		<h2>درباره ما </h2>
		
		<div class="accordion">
			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-1">ما چه کسانی‌ هستیم؟</a>
				<div id="accordion-1" class="accordion-section-content">
					<p>ما تیمی از مسیحیان جوان هستیم که عیسی مسیح را خیلی‌ دوست داریم. همچنین دوست داریم از هدایای روحانی‌ و انرژی خود در جهت جلال دادن به خدا استفاده کنیم.</p>
					<div class="teamLink"><a href="@routes.About.displayTeam("farsi")">تیم‌ فارسی ریدز >></a></div>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-2">ما چه اعتقادی داریم؟</a>
				<div id="accordion-2" class="accordion-section-content">
					<p>ما به کتاب مقدس بعنوان یگانه مرجع وحی شده از طرف خدای زنده اعتقاد داریم. اعتقاد داریم برای لذت بردن از خداوند آفریده شده ایم تا شکوه و عظمت او را در زندگیمان منعکس کنیم. عیسی مسیح خداوند بود که حدود ۲۰۰۰ سال پیش لباس جسم پوشید، به شباهت آدمیان در آمد و بر زمین پا گذاشت. برای پرداخت گناهان ما بود که بر صلیب تن‌ به مرگ داد تا از این طریق، بخشش گناهان را داشته باشیم و با او آشتی‌ کرده و مشارکت داشته باشیم. عیسی مسیح در روز سوم از مردگان رستاخیز یافت و بر قدرت گناه و مرگ چیره شد. او اکنون در جسم در ملکوت بر تخت سلطنت نشسته است. عیسی مسیح در زمان‌های آخر با جلال و شکوه همراه با فرشتگان دوباره باز خواهد گشت. ولی‌ این‌بار نه با فروتنی و برای بخشش گناهان، بلکه برای داوری خواهد آمد. در این بین روح القدس - مدافع ایمانداران به مسیح - در ایمانداران زندگی‌ کرده، آنها را در شناخت عیسی مسیح و رشد روحانی بنا می‌کند. پس ساخته دست خداییم تا کارهای نیکو انجام دهیم.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-3">رویای ما چیست؟</a>
				<div id="accordion-3" class="accordion-section-content">
					<p>رویای ما تشویق همزبانان خود، به مطالعه -به ویژه کتاب‌های نیکو - است. اینکه با شروع مطالعه در هر سنی‌ که هستیم، این حقیقت را دریابیم که میشود کتابخوان شد، حتی اگر هیچگاه کسی‌ در خانواده این را به ما نیاموخته باشد. همچنین بتوانیم به کمک کتاب، قدرت تخیل و حافظه و تجزیه تحلیل را در خود بپرورانیم، و در نهایت تنها مصرف کننده نتایج دیگران نباشیم بلکه خود مسایل را بسنجیم، برای مشکلات راه حل پیدا کنیم و روح‌ها را بیازماییم.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			
			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-4">چگونه در جهت تحقق‌ این رویا پیش می‌رویم؟</a>
				<div id="accordion-4" class="accordion-section-content">
					<p>ما پروژه آماده سازی پلتفرم فارسی ریدز را به ۵ فاز جداگانه تقسیم کرده ایم.</p>

					<p>
					۱- سایت در حالت استاتیک خود؛ بخش وبلاگ و اطلاعات کلی‌ در مورد موجودیت فارسی ریدز، همچنین معرفی‌ رویا و اهداف پلتفرم.
					</p>
					<p>
					۲- افزودن دیتابیس کتابهای فارسی به صورت تدریجی‌ و آماده سازی پروفایل هر کتاب بطور مجزا. 
					</p>
					<p>
					۳- افزودن قابلیت‌های شبکه‌های اجتماعی(از جمله قابلیت امتیاز دادن به مطالب و کتاب و نظر دهی‌ و به اشتراک گذاری) + پیاده سازی کتابخانه مجازی برای هر کاربر. 
					</p>
					<p>
					۴- آماده سازی و تهیه پکیج‌های تشویقی برای شروع و یا ادامه کتاب خوانی.
					</p>
					<p>
					۵- اجرای بخش بوک شاپ (از جمله آدرس دهی‌ به دیگر کتابفروشی ها) و نشر کتاب.
					</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			
			
		</div><!--end .accordion-->

	</div><!-- about box-->
	
	<div class="line"></div>
		
	
	<div id="contactBox" >
		<h2>تماس با ما</h2>
		<p>شما میتوانید از فرم زیر استفاده نمایید و نظرات خود را با ما در میان بگذارید.</p>
		<div id="contactForm">
			@helper.form(controllers.routes.About.sendFeedBack("farsi")){
				<input class="form" type="text" name="name" placeholder="نام"><br>
				<input class="form" type="email" name="email" placeholder="ایمیل"><br>
				<select class="form" name="subject">
					<option>موضوع</option>
					<option>شهادت یا تشویق</option>
					<option>وب سایت</option>
					<option>گزارش توهین</option>
					<option>اعلام همکاری</option>
					<option>مشکل در حساب کاربری</option>
				</select><br>
				<textarea class="form" name="message" 
				rows="5" cols="60" placeholder="لطفا پیام خود را اینجا بنویسید"
				style="height: 130px;"></textarea><br>
				<input class ="subBtn" type="submit" value="پست">

			}
			<br>

		</div>
	</div><!-- contact box-->

	
	
}{
	
	<!--  Content Right comes here -->
	
	<div id="TESTING"><a href="@controllers.routes.LocalLibrary.display(1)">Go To the Local Library</a></div>
	
	<div id="addressBox">
		<p style="background-color:silver;color:black;font-weight:bold;
				    width : 290px;height:20px;margin:-1px 1px 0 -3px;padding: 5px 5px 3px 3px;">آدرس پستی ما:</p>
					<p>Ludwigstrasse.42</p>
					<p>Giessen 35390 </p>
					<p>Germany</p>
	</div>
	<div id="donationBox">
			<p>شما میتوانید با کمکهای مالی خود در پیشبرد پروژه کتابخوانی سهمی داشته باشید</p>
			<div class="payPal"><a href="#paypal">PayPal</a></div>
	</div>
	
	<div id="followUs">
			<ul>
				<li><a href="http://facebook.com/farsireads"><img src="@routes.Assets.at("images/facebook.png")"></a></li>
				<li><a href="http://twitter.com/farsireads"><img src="@routes.Assets.at("images/twitter.png")"></a></li>
				<li><a href="http://linkedid.com/farsireads"><img src="@routes.Assets.at("images/linkedIn.png")"></a></li>
			</ul>
	</div>
		
			<!-- The Box is the equivalent to the box in goodReads -> about. May be done later. -->	
			<!--  
			<div id="overlay" onclick="Lightbox.hideBox('dropout')" style="height: 3172px;"></div>	
			<div id="box" style="width: 600px; min-height: 292px; 
				position: absolute; z-index: 100089; left: 349.5px; top: 203.5px;">
					
				<div id="boxContents">
					<img class="employeeModalImage" alt="Jessica donaghy" src="https://s.gr-assets.com/assets/about/employees_modal/jessica_donaghy-2094046e33e340f642310066b0066ffb.jpg">
					<div class="employeeBio">
						<h2>
						<h3> Features Editor </h3>
						<p>
					</div>
				</div>
			-->
			
}
