@(user : User, message : String)

@headfill = {	 <link rel="canonical" href="http://www.farsireads.com">
		<!-- This meta tages TESTING -->
		}

@FaMain("گزارشات")(headfill){
<!-- -------------------farsi Edition----------------------- -->
<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FarsiAbout.css")">
     <script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarRightFarsi">
						<ul style="padding-left : 15px;">
							<li><a><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="20px" height="20px"></a></li>
						</ul>
					</div><!-- socialBarLeft -->
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>میهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index"> ورود </a></dd>
									
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>


}{
	<!--  Content Left comes here -->
	<div class="message">
		<br>
		@Html(message)
	</div>
	<br>
	<div id="return"><a href="@controllers.controllersFarsi.routes.ApplicationFa.index()">بازگشت به صفحه اصلی >> </a>‌</div>
}{

	<!--  Content Right comes here -->
	<div id="addressBox">
		<h4>آدرس پستی ما:</h4>
		<p>Ludwigstrasse.42</p>
		<p>Giessen 35390 </p>
		<p>Germany</p>
	</div>
	<div id="donationBox">
		<p>اگر در دسترسی‌ به امکانات فارسی ریدز به مشکل فنی‌ برخورده اید، لطفا با تیم‌ ما تماس بگیرید.</p>
		<div id="payPal"><a href="@routes.About.display("farsi")"><div id ="contactLink">تماس با ما</div></a></div>
	</div>
}