

@(user : User, posts : List[models.BlogPost])

@*The following declares a local variable "author" and by calling a static function
  from AuthorTranslation class, it assigns the author of latest post in it.*@
@author =  @{AuthorTranslation.getAuthor(posts.head.author.authorID,"farsi")}


@headfill = {	 <link rel="canonical" href="http://www.farsireads.com">
		<!-- This meta tages TESTING -->
		<!-- This meta tages is for FB snippet rendering -->
		}

@FaMain("بلاگ")(headfill){

<!-- -------------------farsi Edition----------------------- -->
<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/commentFarsi.css")">
     <script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>     
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
				   @if(user.fName == "Guest"){
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a><img src="@routes.Assets.at("images/icons/homeInactive.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/friendsInactive.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/messageInactive.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/notificationInactive.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/profileInactive.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/settingsInactive.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					} else {
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a href="#"><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showSettings("farsi", user.email)"><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					}
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>میهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index"> ورود </a></dd>
									
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>
        		

}{
	<!--  left content for Blog -->
	
	<!-- The featured box is not going to include only the latest but the "most needed" post -->
	<div id="featuredBoxFarsi">
	
		
		<!-- for now, the first version, featured Box displays the latest post,
			 but a function in the Blog.java should be written like setFeaturedPost(title)
			 in order to be called from a CMS, which in turn also should be written soon.-->
		<a href="@routes.Blog.showBlogPostFullContent((posts.head).language,(posts.head).postID)">   
		
			<img src="@posts.head.image" rel="@posts.head.title">
		
			<hgroup>
				<h2>@posts.head.title</h2>
				
				<h4>@author.fName @author.lName</h4>
			</hgroup>
		</a>
	</div>
	
	<div class="line"></div>
	
	<section id="postList">
			<!-- The scala tail func returns all elements of the list posts, except the first one(head) -->
					@posts.tail.map{ post => 
							@views.html.farsiEdition.blogPost(post)
					}
			
	</section>
	
}{
	
	<!--  Content Right comes here -->
	<div id="adBox">
		قسمت بلاگ بطور پیوسته آپدیت میشود. خوانندهٔ‌ تاملی فرح بخش و تازه بر کلام خدا، زندگی‌ مسیحی‌ و محیطی‌ که در آن زندگی‌ می‌کنیم باشید. شما میتوانید در نظردهی به پست‌ها سهیم شوید.
		<br>
	</div>
	
	<!-- -----------------------twitter---------------------- -->
	<a class="twitter-timeline" href="https://twitter.com/FarsiReads" data-tweet-limit="1"
		width="300px" data-chrome="nofooter"
		data-widget-id="485401626165780481">Tweets by @@FarsiReads
	</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>
	

}
