
@(post : BlogPost)

<!-- --------------------Farsi Edition---------------------- -->

<!-- this is the helper template (used like functions) to handle each individual post
	--The structure of each post can be designed here -->
	
	<script>
		/*This function is used to trunce the blogContent to the specified size, e.g. 3,10 lines
		**It uses the clamp.js library. NOTE: (useNativeClamp : true) should be set to get the same 
		**result in the Chrome as well as FireFox. in postContent DIV, each post should have its ID distinguished
		**in order to get the Clamp work not onl on the first post but on all the posts.
		**The trick is to use the "@post.postID" in getElementById as well as in DIV id itself. */
		//to remove all the HTML tags from the text and return the simplified text
		function strip(html)
		{
		 	 var tmp = document.createElement("DIV");
		  		tmp.innerHTML = html;
		 	return tmp.textContent||tmp.innerText;
		}
		
		var clamping = function(){
			var header  = document.getElementById("@post.postID");
			//header.style.backgroundColor ="RED";
			header.innerHTML = strip(document.getElementById("@post.postID").textContent);
			$clamp(header,{clamp : 5, useNativeClamp : true});
		}	
	</script>
	<!-- this line just assign the desired author in the variable '@author' to be used in the resourceMeta -->
	@author = @{AuthorTranslation.getAuthor(post.author.authorID,"farsi")}
			
	<article id="postBox" >
		<h4 style="text-align: right; padding-right: 20px;">@post.title</h4>
		<div id="photoBanner">
			<!-- "dl.dropboxusercontent." should be used in order to access DropBox docs with a static link -->
			<img src="https://dl.dropboxusercontent.com/s/hgobekqdne1uxcx/post1_550_100.jpg?dl=0" alt="photo">
		
		</div><!-- end of "photoBanner" -->
		<br>
		<div id="resourceMeta">
			<ul> 
				<li>نوشته  @author.fName @author.lName</li>
				
				<li id="topicFarsi">موضوع : @post.topic</li>
			</ul>
			<time id="time">@post.published.format("dd-MM-yyyy")</time>
		</div>
		<div id="clear"></div>
		<script src="@routes.Assets.at("javascripts/clamp.js")" type="text/javascript"></script>

		<div id="blurb">
			<!-- in Blurb only the first 5 lines of the post displayed using Clamp.js lib -->
			
			<div id="@post.postID" class = "postContentFarsi">@post.content</div>
			
			<!-- This clamping func should be invoked after the declared tages in it!!!! -->
			<script>clamping();</script>
			<a href="@routes.Blog.showBlogPostFullContent(post.language,post.postID)"><p  style="text-align: right; padding-right: 20px;">ادامه مطلب ...</p></a>
		</div>
	</article>
	<div id="horizonLine"></div>