@(user : User, books : List[models.Book])
@FaMain("کتابها"){

<!-- -------------------farsi Edition----------------------- -->

<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarRightFarsi">
						<ul>
							<li><a><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="14px" height="14px"></a></li>
						</ul>
					</div><!-- socialBarRightFarsi -->
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>@user.fName</span></dt>
									<dd><a href="@routes.Application.index">ورود</a></dd>
								}
							</dl>
						</header>
        			</div><!-- socialBarLeftFarsi (loggedIn) -->
        		</div><!-- socialBar -->
        		<div id="clear"></div>

				
}{
	<!--  ---------------left content for book------------------- -->
	
	<div id="searchBox">
		<fieldset>
			<legend>جستجو کتاب</legend>
			<input type="search" value="عنوان / شابک" name="search">
			<input type="submit" value="جستجو" >
			
			<div id="categoryBox">
				<h3 style="margin-right : 10px;"></h3>
				<div class="left">
					<a href="#">کلاسیک</a><br>
					<a href="#">کودکان</a><br>
				</div>
				<div class="left">
					<a href="#">تفسیری</a><br>
					<a href="#">خانواده</a><br>
					<a href="#">خدمت</a><br>
					<a href="#">داستانی</a><br>
					<a href="#">دفاعیات</a><br>
				</div>
				<div class="left">
					<a href="#">رازگاهان</a><br>
					<a href="#">زندگی‌ مسیحی‌</a><br>
					<a href="#">شاگردسازی</a><br>
					<a href="#">فرقه ها</a><br>
					<a href="#">کتاب مقدس</a><br>
				</div>
				<div class="left">
					<a href="#">الهیات</a><br>
					<a href="#">باستان شناسی‌</a><br>
					<a href="#">بشارت</a><br>
					<a href="#">بیوگرافی</a><br>
					<a href="#">تاریخ کلیسا</a><br>
				</div>	
				<div id="clear"></div>
			</div> <!-- categoryBox -->
			
	
        </fieldset>
	</div> <!-- searchBox -->
	
		
	
	
	<div id="clear"></div>
	<div id="recommendationBox">
			<h3>کتاب پیشنهادی</h3>
			<div id="firstRow">
			
					<!-- we take the 6 latest books with the help of scala list function  -->
					@books.take(3).map{ book =>
					<div id="bookBox">
						<a href="@routes.Books.showBookProfile("farsi", book.bookID)">
							<img class="bookImg" src="@book.photo" ><br><span class="titleText">@book.isbn</span>
						</a>
					</div>
					}			
			</div>
			<div id="clear"></div>
			<div id="secondRow">
				<!--  takeRight(n), Selects last n elements. -->
				@books.takeRight(3).map{ book =>
				<div id="bookBox">
					<a href="@routes.Books.showBookProfile("farsi", book.bookID)">
						<img class="bookImg" src="@routes.Assets.at("images/book2.jpg")" ><br><span class="titleText">@book.isbn</span>
					</a>
				</div>
				}
			</div>
	</div> <!-- recommendationBox -->

	
	<div id="recommendedByFriendsBox">
	
		<!-- this section is to be come in the next Phase -->
	
	</div> <!-- recommendedByFriendsBox -->
	
	
}{

	<!--  ---------------right content for book------------------- -->
	<div id="suggestBookAdd">
		<p> کتاب فارسی مسیحی‌ می‌شناسید که هنوز در بانک کتاب ما موجود نیست؟ لطفا آن را به ما معرفی‌ کنید:</p>
		<a href="@routes.About.display("farsi")">تماس با ما</a>
	</div> <!-- suggestBookAdd -->
}
