		
@(user : User, book : Book, reviewForm : Form[BookReview], reviews : List[BookReview], 
		listOfBooksOfTheAuthor : List[models.Book], listOfBooksWithsameTopic : List[Book])
<!-- --------------------Farsi Edition---------------------- -->
		@bookTranslation = @{BookTranslation.getBookDetails(book.bookID,"farsi")}
		@bookTranslationEn = @{BookTranslation.getBookDetails(book.bookID,"english")}
		@authorList = @{BookAuthor.getAuthorList(book.bookID)}
		<!-- This is used to get only one Author in the case of multiple one -->
		@author1 = @{BookAuthor.getAuthorList(book.bookID).get(0)}
		@authorDetail = @{AuthorTranslation.getAuthor(author1.authorID,"farsi")}
		@bookAlreadyInVL = @{BookUser.bookAlreadyExists(user.email, book.bookID)}

@headfill = {	 
		<!-- This meta tages is for G+ snippet rendering -->
		<meta itemprop="name" content="@bookTranslation.title">
		<meta itemprop="image" content="@book.photo">
		<meta itemprop="description" content="@bookTranslation.summary">
		
		<!-- This meta tages is for FB snippet rendering -->
		<meta property="og:site_name"     content="FarsiReads"/>
		<meta property="fb:app_id"        content="1664962823738581"/>
		<meta property="og:type"          content="book" />
		<meta property="og:url"           content="http://www.farsireads.com/farsi/book/bookid=@book.bookID" />
		<meta property="og:title"         content="@bookTranslation.title" />
		<meta property="og:image"         content="@book.photo" />
		<meta property="og:image:width"   content="300" />
		<meta property="og:image:height"  content="456" />
		<meta property="og:image:type"    content="image/jpg" />
		<meta property="og:description"   content="@bookTranslation.summary" />
		
		}

@FaMain(bookTranslation.title)(headfill){
	
	<head itemscope itemtype="http://schema.org/Article" >
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
     <script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FarsiBookProfile.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reviewFarsi.css")">
     
	</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarRightFarsi">
						<ul style="margin-left : 15px;">
							<li><a><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="20px" height="20px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="20px" height="20px"></a></li>
						</ul>
					</div><!-- socialBarLeft -->
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>میهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index"> ورود </a></dd>
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>	

				<!--  <div id="horizonLine"></div>   -->
}{

		<article id="bookProfile">
		
			<div id="bookCover">
				<a href="#">
					<img itemprop="image" id="coverImage" src="@book.photo" alt="">
				</a>
			    @if(user.fName == "Guest"){
					<!-- it does not display the add to the VL Btn if the user is not logged in -->

				} else {
					@if(bookAlreadyInVL){
					<!-- book is already in BookUser DB in VL -->
					} else {
					<div class=""></div>
						@helper.form(action = routes.Books.addtoShelfAll("farsi",book.bookID), 'enctype -> "multipart/form-data"){
									<button id="btn" type="submit" value="post" formmethod="post">افزودن به کتابخانه مجازی</button>
									} 
						} 
					 
				}	
		
			</div><!-- bookCover -->
			<div id="leftBlock">
				<div id="bookTitleAuthor">
					<ul> 
						<li><h1 itemprop="name">@bookTranslation.title</h1></li>
						<li class="metaInfo">
							<!--  <span>نوشته: @@author.fName @@author.lName</span> -->
							 
							<!-- @@for(a <- authorList){
								
								val author = views.html.AuthorTranslation.getAuthor(a.authorID,"farsi");
								<span>نوشته: author.fName author.lName</span> 
							} -->
							نوشته 
							@authorList.map{ a => 
								<!--  @@author = views.html.AuthorTranslation.getAuthor(a.authorID,"farsi");-->
								@defining( AuthorTranslation.getAuthor(a.authorID,"farsi") ) { author => 
							<span>@author.fName @author.lName </span>-  }}
							
							
							<span></span>
						</li>
						<li class="metaInfo">تاریخ انتشار <span><time>@book.published.format("dd.MM.yyyy")</time></span> توسط <span>@bookTranslation.publication</span> </li>
						<li class="metaInfo">ریتینگ</li>
					</ul>
				</div>
				
				<div id="summary">
					<p itemprop="description">@bookTranslation.summary</p>
				</div>
				<div id="bookdetails">
					<ul class="metaInfo">
						<li>شابک <span>@book.isbn</span></li>
						<li>عنوان اصلی‌ کتاب <span> @bookTranslationEn.title</span></li>
						<li>تعداد صفحات </li>
						<li>وزن </li>
						<li>ابعاد </li>
					</ul>
				</div>
			</div><!-- leftBlock -->
			<div id="clear"></div>
				<div class="shareBox">
					<p>اطلاعات این کتاب را با دوستانتان در شبکه‌های زیر به اشتراک بگذارید:</p>
					<!-- -----------------------FB------------------- -->
					<!-- Load Facebook SDK for JavaScript -->
				    <div id="fb-root"></div>
				    <script>(function(d, s, id) {
				      var js, fjs = d.getElementsByTagName(s)[0];
				      if (d.getElementById(id)) return;
				      js = d.createElement(s); js.id = id;
				      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
				      fjs.parentNode.insertBefore(js, fjs);
				    }(document, 'script', 'facebook-jssdk'));</script>
					
					
					<div class="fb-share-button" data-href="http://www.farsireads.com/farsi/book/bookid=@book.bookID" 
						data-type="button_count" >
					</div>
					<!-- -----------------------FB------------------- -->

					<!-- -----------------------g+------------------- -->
 					<div class="g-plus" data-action="share" data-annotation="bubble" 
						data-href="http://www.farsireads.com/farsi/book/bookid=@book.bookID">
					</div> 
					<!-- -----------------------g+------------------- -->

					
					<div id="clear"></div>
				</div><!-- end of shareBox -->
				
					<!-- ----------------------REVIEWING SECTION--------------------- -->
					<fieldset id="reviewBox">
						<legend><h3>بررسی‌ کتاب</h3></legend>
						<section id="reviewContent">
							@if(reviews.isEmpty){
								<p>تاکنون کسی‌ نظر نداده است. نخستین باشید.</p>
							}
							<!-- to load the previous comments -->
							<ul id="reviewList">
								@reviews.map{ review =>
													 <li>@views.html.review(review,user)</li>
								}
							</ul>
						</section>
						
						@if(user.fName == "Guest"){
							<script type="text/javascript">
								/*This script is used to disable the commentComment DIV to  
									 disable the GUEST users to comment
								*/
								var crp = document.getElementById("reviewForm");
								crp.style.display = "none";
							</script>
							<p>برای ارسال نظرات خود میبایست به "فارسی‌ ریدز" وارد شوید</p>
							<a href="@controllers.controllersFarsi.routes.ApplicationFa.index"><h3 style="padding-right:10px;">برای ورود، لطفا اینجا را کلیک کنید</h3></a>
			
						}else{
						<section id="reviewForm">
						
							@helper.form(action = routes.Books.postReview("farsi",book.bookID), 'enctype -> "multipart/form-data"){
								<textarea class="form" name="review" style="width:400px; height:50px" placeholder="نظر خود را راجع به این کتاب بنویسید" ></textarea>
					        	<button class="subBtn" type="submit" value="post" formmethod="post">پست</button>
							}
							        
					        @if(reviewForm.hasGlobalErrors){
					        	<p id="error"> @reviewForm.globalError.message </p>
					        }else{
								<script type="text/javascript">
										document.getElementById('reviewForm').scrollIntoView();
								</script>
					        }
						</section>
						}
					</fieldset>
				<!-- --------------------------end of review-------------------- -->
				
			
		</article>
}{

		<!-- --------------------------پانل راست----------------------- -->

		<!-- This is the Virtual Library section which is activated for the logged users -->
		@if(user.fName == "Guest"){
				<div id="virtualshelf">
					<h3 class="rightBoxHeader">کتابخانه مجازی من<span> under construction </span></h3>
					<p>برای استفاده از امکانات کتابخانه مجازی، لطفا از <a href="@controllers.controllersFarsi.routes.ApplicationFa.index">اینجا</a> به فارسی ریدز وارد شوید</p>
				</div>
		} else {
				<div id="virtualshelf">
					<h3 class="rightBoxHeader">کتابخانه مجازی من<span> under construction </span></h3>
					<ul>
						<li style="border:1px solid #75bfb8;"><span style="font-weight:bold;">قفسه ها</span></li>
						<li><a href="@routes.Books.showShelfAll("farsi")">همه</a></li>
						<li><a href="@routes.Books.showShelfRead("farsi")">خوانده شده</a></li>
						<li><a href="@routes.Books.showShelfReading("farsi")">در حال مطالعه</a></li>
						<li><a href="@routes.Books.showShelfToRead("farsi")">خواهم خواند</a></li>
					</ul>
				</div>
		
		}
		
		
		
		<div id="aboutAuthor">
			<h3 class="rightBoxHeader">درباره‌ نویسنده</h3>
			<div id="aFotoDiv">
				<a href="#">
					<!-- the uploaded author photos -> width:177 height:266 -->
					<img class="authorPhoto" src="@author1.photo">
				</a>
			</div>
			<div class="readable">
				<span>@authorDetail.description</span>
			</div>
			<div id="clean"></div>
		</div>
		
		<div id="authorsOtherWorks">
			<h3 class="rightBoxHeader">کتاب‌های دیگر از این نویسنده</h3>
			<div id="otherBooksContainer">
			@listOfBooksOfTheAuthor.take(3).map{  bk =>
				<a href="@routes.Books.showBookProfile("farsi", bk.bookID)"> 
					<img height="130px" src="@bk.photo">
				</a> }

			</div><!-- otherBooksContainer -->
		</div>
		
		<div id="relatedWorks">
			<h3 class="rightBoxHeader">کتاب‌های با موضوع مشابه</h3>
			<div id="relatedWorksContainer">
			@if(listOfBooksWithsameTopic.isEmpty){
				<p>کتابی‌ با موضوع مشابه موجود نیست</p>
			}else{
				@listOfBooksWithsameTopic.take(3).map{  bk =>
				<a href="@routes.Books.showBookProfile("farsi", bk.bookID)"> 
					<img height="130px" src="@bk.photo">
				</a> }
			}
			</div><!-- relatedWorksContainer -->
		</div>
}