@(user : User, books : List[models.Book])

@headfill = {	 <link rel="canonical" href="http://www.farsireads.com">
		<!-- This meta tages TESTING -->
		}


@FaMain("کتابها")(headfill){

<!-- -------------------farsi Edition----------------------- -->

<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FarsiVL.css")">
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
				   @if(user.fName == "Guest"){
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a><img src="@routes.Assets.at("images/icons/homeInactive.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/friendsInactive.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/messageInactive.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/notificationInactive.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/profileInactive.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/settingsInactive.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					} else {
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a href="#"><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showSettings("farsi", user.email)"><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					}
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>میهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index">ورود</a></dd>
								}
							</dl>
						</header>
        			</div><!-- socialBarLeftFarsi (loggedIn) -->
        		</div><!-- socialBar -->
        		<div id="clear"></div>

				
}{
	<!--  ---------------left content for book------------------- -->
	
	<div id="SectionIntro">
		<!--  <h3 style="padding-right:10px;">کتابها</h3>  -->
		<p>در بخش کتاب ها، بانک اطلاعاتی‌ شامل کتابهای فارسی مسیحی‌(تالیف و ترجمه) آماده شده است. شما میتوانید عنوان کتاب مورد نظر را جستجو کنید و در صورت وجود، چکیده‌ای از کتاب به همراه اطلاعات جانبی(از جمله اطلاعاتی‌ مربوط به مولف، هدف نگارش، تاریخ نگارش و نحوه تهیه) در اختیار شما خواهد بود.
		هدف اصلی‌ این قسمت، گردآوری تمامی کتابهای مسیحی‌ فارسی - از انتشارات مختلف، قدیمی‌ و جدید و بدون توجه به فرقه مربوطه - در بانک اطلاعاتی‌ و امکان جستجو در آن می‌باشد.
		</p>
	</div>
	
	<div id="searchBox">
		<fieldset>
			<legend>جستجو کتاب</legend>
			<div id="gcs">
				<!-- <input type="search" placeholder="عنوان / شابک" name="search">
				     <input type="submit" value="جستجو" > -->
				
				<!-- This piece of code is generated from Google Custom Search. It works asynchronically 
					 and search the work in the whole FarsiReads.com. It shows not only books as results. -->
				<script>
				  (function() {
				    var cx = '000095487307879376959:zzdqc_parj4';
				    var gcse = document.createElement('script');
				    gcse.type = 'text/javascript';
				    gcse.async = true;
				    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				        '//cse.google.com/cse.js?cx=' + cx;
				    var s = document.getElementsByTagName('script')[0];
				    s.parentNode.insertBefore(gcse, s);
				  })();
				</script>
				
				<gcse:search webSearchResultSetSize="7" enableOrderBy="true" noResultsString="متاسفانه عبارتی که وارد کرده اید در فارسی ریدز موجود نمی‌باشد"></gcse:search>
				<gcse:searchresults refinementStyle="link">
				
				<p style="font-size:0.7em;color:gray;margin-top:-9px;">شما میتوانید در این قسمت به جستجوی کتابها بپردازید؛ بر اساس نام، مولف، شابک یا موضوع.</p>

			</div>
			
			
			<div id="categoryBox">
				<h3 style="margin-right : 10px;"></h3>
				<div class="left">
					<a href="@routes.Books.showByTopic("farsi",15)">کلاسیک</a><br>
					<a href="@routes.Books.showByTopic("farsi",16)">کودکان</a><br>
					<a href="@routes.Books.showByTopic("farsi",17)">موسیقی</a><br>
				</div>
				<div class="left">
					<a href="@routes.Books.showByTopic("farsi",5)">تفسیری</a><br>
					<a href="@routes.Books.showByTopic("farsi",6)">خانواده</a><br>
					<a href="@routes.Books.showByTopic("farsi",7)">خدمت</a><br>
					<a href="@routes.Books.showByTopic("farsi",8)">داستانی</a><br>
					<a href="@routes.Books.showByTopic("farsi",9)">دفاعیات</a><br>
				</div>
				<div class="left">
					<a href="@routes.Books.showByTopic("farsi",10)">رازگاهان</a><br>
					<a href="@routes.Books.showByTopic("farsi",11)">زندگی‌ مسیحی‌</a><br>
					<a href="@routes.Books.showByTopic("farsi",12)">شاگردسازی</a><br>
					<a href="@routes.Books.showByTopic("farsi",13)">فرقه ها</a><br>
					<a href="@routes.Books.showByTopic("farsi",14)">کتاب مقدس</a><br>
				</div>
				<div class="left">
					<a href="@routes.Books.showByTopic("farsi",0)">الهیات</a><br>
					<a href="@routes.Books.showByTopic("farsi",1)">باستان شناسی‌</a><br>
					<a href="@routes.Books.showByTopic("farsi",2)">بشارت</a><br>
					<a href="@routes.Books.showByTopic("farsi",3)">بیوگرافی</a><br>
					<a href="@routes.Books.showByTopic("farsi",4)">تاریخ کلیسا</a><br>
				</div>	
				<div id="clear"></div>
			</div> <!-- categoryBox -->
			
	
        </fieldset>
	</div> <!-- searchBox -->
	
		
	
	
	<div id="clear"></div>
	<div id="recommendationBox">
			<h3>کتاب پیشنهادی</h3>
			<div id="firstRow">
			
					<!-- we take the 6 latest books with the help of scala list function  -->
					@books.take(3).map{ book =>
					<div id="bookBox">
						<a href="@routes.Books.showBookProfile("farsi", book.bookID)">
							<img class="bookImg" src="@book.photo" ><br># شابک <span class="titleText">@book.isbn</span>
						</a>
					</div>
					}			
			</div>
			<div id="clear"></div>
			<div id="secondRow">
				<!--  takeRight(n), Selects last n elements. -->
				@books.takeRight(3).map{ book =>
				<div id="bookBox">
					<a href="@routes.Books.showBookProfile("farsi", book.bookID)">
						<img class="bookImg" src="@book.photo" ><br># شابک <span class="titleText">@book.isbn</span>
					</a>
				</div>
				}
			</div>
	</div> <!-- recommendationBox -->

	
	<div id="recommendedByFriendsBox">
	
		<!-- this section is to be come in the next Phase -->
	
	</div> <!-- recommendedByFriendsBox -->
	
	
}{

	<!--  ---------------right content for book------------------- -->
	
	<!-- This is the Virtual Library section which is activated for the logged users -->
	@if(user.fName == "Guest"){
				<div id="virtualshelf">
					<h3 class="rightBoxHeader">کتابخانه مجازی من<span> under construction </span></h3>
					<p>برای استفاده از امکانات کتابخانه مجازی، لطفا از <a href="@controllers.controllersFarsi.routes.ApplicationFa.index">اینجا</a> به فارسی ریدز وارد شوید</p>
				</div>
	} else {
				<div id="virtualshelf">
					<h3 class="rightBoxHeader">کتابخانه مجازی من<span> under construction </span></h3>
					<ul>
						<li style="border:1px solid #75bfb8;"><span style="font-weight:bold;">قفسه ها</span></li>
						<li><a href="@routes.Books.showShelfAll("farsi")">همه</a></li>
						<li><a href="@routes.Books.showShelfRead("farsi")">خوانده شده</a></li>
						<li><a href="@routes.Books.showShelfReading("farsi")">در حال مطالعه</a></li>
						<li><a href="@routes.Books.showShelfToRead("farsi")">خواهم خواند</a></li>
					</ul>
				</div>
		
	}
		
	
	
	<div id="suggestBookAdd">
		
		<p> کتاب فارسی مسیحی‌ می‌شناسید که هنوز در بانک کتاب ما موجود نیست؟ لطفا آن را به ما معرفی‌ کنید:</p>
		<a href="@routes.About.display("farsi")"><div id ="contactLink">تماس با ما</div></a>
	</div> <!-- suggestBookAdd -->
	
	<div id="followUs">
		<ul>
			<li><a href="http://facebook.com/farsireads"><img src="@routes.Assets.at("images/facebook.png")"></a></li>
			<li><a href="http://twitter.com/farsireads"><img src="@routes.Assets.at("images/twitter.png")"></a></li>
			<li><a href="http://linkedid.com/farsireads"><img src="@routes.Assets.at("images/linkedIn.png")"></a></li>
		</ul>
	</div>
}
