@(message : String, form : Form[Application.Login], post : BlogPost , ga : List[String])

@FaMain("به 'فارسی‌ ریدز' خوش آمدید"){

		<head>
			<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/FarsiIndex.css")">
			<script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>
			<script>
				//to remove all the HTML tags from the text and return the simplified text
				function strip(html)
				{
				 	 var tmp = document.createElement("DIV");
				  		tmp.innerHTML = html;
				 	return tmp.textContent||tmp.innerText;
				}
				
				//to clamp the text to the specified number of lines
				var clamping = function(){
					
					var header  = document.getElementById("@post.postID");
					//header.style.backgroundColor ="RED";
					//clamp integer specifies the number of lines of text
					header.innerHTML = strip(document.getElementById("@post.postID").textContent);
					$clamp(header,{clamp : 8, useNativeClamp : true});
					
				}	
			</script>
		</head>
		
    	<div id="headContent">  
        		<div id="headContentLeft">Headlines</div>
        		<div id="headContentRight">
        				@helper.form(controllers.controllersFarsi.routes.ApplicationFa.authenticate){
	        				<input type="text" name="lName" placeholder="نام" />
	        				<input type="email" name="email" placeholder="ایمیل " />
	        				<input type="password" name="password" placeholder="پسورد" />
	        				<br/>
	        				<button type="submit">ورود</button>
	        				<p>هنوز عضو فارسی ریدز نیستید؟ <a href="/farsi/signUp" id="signUpLink">اینجا</a> ثبت نام کنید</p>
	        				@if(form.hasGlobalErrors){
	        					<p id="error">@form.globalError.message </p>
	        				}
        				}
        		</div><!--headcontentRight (SignIn)-->
        </div><!--headContent-->
	
}{

	
	<!--  Content Left comes here  محتوا اینجا -->
	<div id="infoBox">
		<div id="infoBoxLeft">
			<p class="rightAlign"> این وب سایت، شبکه‌ای اجتماعی و اینتر اکتیو است با هدف فراهم کردن بانک اطلاعاتی‌ از تمامی کتاب‌ها و کارهای فارسی مسیحی‌(ترجمه و تالیف) از یک سو و اشتراک گذاری چکیده کتاب و نظرات شما از سویی دیگر .</p>
			
		</div>
		
		<div id="infoBoxRight">
			<p class="rightAlign">به <span>فارسی ریدز</span> خوش آمدید. فارسی ریدز پلت فرمی فارسی است که برای فراهم نمودن مطالب خوب و دست‌چین شده (از جمله کتاب، مقاله، بلاگ پست، شعر) در دسترس شما است. </p>
		</div>
	</div><!-- infoBox -->
	<div id="clear"></div>
	
	<div id="bookBox">
		<h3 style="padding-right:10px;">کتابها</h3>
		<p>در بخش کتاب ها، بانک اطلاعاتی‌ شامل کتابهای فارسی مسیحی‌(تالیف و ترجمه) آماده شده است. شما میتوانید عنوان کتاب مورد نظر را جستجو کنید و در صورت وجود، چکیده‌ای از کتاب به همراه اطلاعات جانبی(از جمله اطلاعاتی‌ مربوط به مولف، هدف نگارش، تاریخ نگارش و نحوه تهیه) در اختیار شما خواهد بود. همچنین شما قادر خواهید بود با استفاده از "فهرست موضوعی"، به مرور و گردش در کتاب‌ها بپردازید.
				
		در این قسمت، ماهیانه کتابهای انتخاب، تحلیل و برای مطالعه پیشنهاد میشود. علاوه بر این شما میتوانید از ترجمه و انتشار عنوان‌های جدید کتاب نیز خبردار شوید.
		قابلیت دیگر این بخش، راه اندازی کتابخانه الکترونیکی‌ و مدیریت مطالعه شخصیتان است.
		هدف اصلی‌ این قسمت، گردآوری تمامی کتابهای مسیحی‌ فارسی - از انتشارات مختلف، قدیمی‌ و جدید و بدون توجه به فرقه مربوطه - در بانک اطلاعاتی‌ و امکان جستجو در آن می‌باشد.
		</p>
		
		<div id="categoryBox">
			<h4>فهرست موضوعی</h4>
				<div class="right">
					<a href="#">الهیات</a><br>
					<a href="#">باستان شناسی‌</a><br>
					<a href="#">بشارت</a><br>
					<a href="#">بیوگرافی</a><br>
					<a href="#">تاریخ کلیسا</a><br>
				</div>
				<div class="right">
					<a href="#">تفسیری</a><br>
					<a href="#">خانواده</a><br>
					<a href="#">خدمت</a><br>
					<a href="#">داستانی</a><br>
					<a href="#">دفاعیات</a><br>
				</div>
				<div class="right">
					<a href="#">رازگاهان</a><br>
					<a href="#">زندگی‌ مسیحی‌</a><br>
					<a href="#">شاگردسازی</a><br>
					<a href="#">فرقه ها</a><br>
					<a href="#">کتاب مقدس</a><br>
				</div>
				<div class="right">
					<a href="#">کلاسیک</a><br>
					<a href="#">کودکان</a><br>
				</div>
				<br>
		</div> <!-- categoryBox -->
	</div><!-- bookBox -->
	
	<div id="blogBox">
		<div id="latestPost"><h3>بلاگ</h3></div>
		<div id="latestPostImg"><img src="@post.image" alt="@post.title" title="@post.title"></div>
		<div id="latestPostSum">
			آخرین مطلب منتشر شده:
			<h4>@post.title</h4>
			<!-- strip(document.getElementById("@post.postID").textContent) -->
			<p id="@post.postID">@post.content</p>
			<script>clamping();</script>
			
			<a href="@routes.Blog.display(post.language)"><p>ادامه مقاله ...</p></a>
		</div>
		<div id="clear"></div>
		<div id="latestPostLinks"><h4><a href="@routes.Blog.display(post.language)">مشاهده تمامی مطالب بلاگ<b> فارسی ریدز</b></a></h4></div>
	</div><!-- blogBox -->
	
	<div id="horizonLine"></div>

	
	
	<div id="activityBox">
		<h3>فعالیت ها</h3>
		<ul id="activityList">
			<li><div id="service"><img src="@routes.Assets.at("images/icons/Translate.gif")" alt="srvc"><p>ترجمه کتابها و مقالات ارزشمند</p></div></li>
			<li><div id="service"><img src="@routes.Assets.at("images/icons/Seminar.gif")" alt="srvc"><p>برگزاری سمینار و ورکشاپ‌های کتابخوانی</p></div></li>		
			<li><div id="service"><img src="@routes.Assets.at("images/icons/Help.gif")" alt="srvc"><p>کمک به تاسیس کتابخانه در کلیسای شما</p></div></li>
		</ul>
		<div id="clear"></div>
		<div id="toServiceLink">
			<a href="#ToService">مشاهده جزئیات فعالیت‌ها و خدمات</a>
		</div>
	</div> <!-- activityBox -->
	
	
	<div id="quotationBox">
		<h3 style="margin-top:4px;">بیان شیرین</h3>
		<div style="display : inline;">
			<a href="#author"><img src="@routes.Assets.at("images/CSlewis.jpg")" alt="author'sName"></a>
			<div id="quoteText">
				"به مسیحیت ایمان دارم همانگونه که ایمان دارم آفتاب طلوع کرده؛ نه فقط به خاطر اینکه آن را میبینم، بلکه توسط آن قادرم همه چیز‌های دیگر را ببینم."
				<br> -
				<a href="#author's">سی‌.اس‌ لوئیس</a>
			</div>
		</div>
		
<!-- 		<div style="display : none;"> Quote 2</div>
		<div style="display : none;"> Quote 3</div>
		<div style="display : none;"> Quote 4</div> -->
		
	</div> <!-- quotationBox -->
	<div id="clear"></div>
	
}{
	<!--  <p>Right content for index محتوا اینجا</p> -->
	
	<div id="visitorCount">
		@for(g <- ga){ 
			<p> تعداد کاربران "فارسی ریدز" :  <span>@g</span> </p>}
		
		
	</div><!-- visitorCount -->
	
	<!-- -----------------------twitter---------------------- -->
	<a class="twitter-timeline" href="https://twitter.com/FarsiReads" data-tweet-limit="1"
		width="300px" data-chrome="nofooter"
		data-widget-id="485401626165780481">Tweets by @@FarsiReads
	</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>

	
}

	
