@(message : String, form : Form[Application.Login], post : BlogPost)

@FaMain("به 'فارسی‌ ریدز' خوش آمدید"){

		<head>
			<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/FarsiIndex.css")">
			<script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>
			<script>
				var clamping = function(){
					var header  = document.getElementById("@post.postID");
					//header.style.backgroundColor ="RED";
					//clamp integer specifies the number of lines of text
					$clamp(header,{clamp : 11, useNativeClamp : true});
				}	
			</script>
		</head>
		
    	<div id="headContent">  
        		<div id="headContentLeft">Headlines</div>
        		<div id="headContentRight">
        				@helper.form(routes.Application.authenticate){
	        				<input type="text" name="lName" placeholder="نام" />
	        				<input type="email" name="email" placeholder="ایمیل " />
	        				<input type="password" name="password" placeholder="پسورد" />
	        				<br/>
	        				<button type="submit">ورود</button>
	        				<h4>هنوز عضو فارسی ریدز نیستید؟ <a href="/farsi/signUp" id="signUpLink">اینجا</a> ثبت نام کنید</h4>
	        				@if(form.hasGlobalErrors){
	        					<p id="error">Error: @form.globalError.message </p>
	        				}
        				}
        		</div><!--headcontentRight (SignIn)-->
        </div><!--headContent-->
	
}{

	
	<!--  Content Left comes here  محتوا اینجا -->
	<div id="infoBox">
		<div id="infoBoxLeft">
			<p class="rightAlign"> این وب سایت، شبکه‌ای اجتماعی و اینتر اکتیو است با هدف فراهم کردن بانک اطلاعاتی‌ از تمامی کتاب‌ها و کارهای فارسی مسیحی‌(ترجمه و تالیف) از یک سو و اشتراک گذاری چکیده کتاب و نظرات شما از سویی دیگر .</p>
			
		</div>
		
		<div id="infoBoxRight">
			<p class="rightAlign">به <span><em>فارسی ریدز</em></span> خوش آمدید. فارسی ریدز پلت فرمی فارسی است که برای فراهم نمودن مطالب خوب و دست‌چین شده (از جمله کتاب، مقاله، بلاگ پست، شعر) در دسترس شما است. </p>
		</div>
	</div><!-- infoBox -->
	<div id="clear"></div>
	
	<div id="bookBox">
		<h3 style="padding-right:10px;">کتابها</h3>
		<p>در بخش کتاب ها، بانک اطلاعاتی‌ شامل کتابهای فارسی مسیحی‌(تالیف و ترجمه) آماده شده است. شما میتوانید عنوان کتاب مورد نظر را جستجو کنید و در صورت وجود، چکیده‌ای از کتاب به همراه اطلاعات جانبی(از جمله اطلاعاتی‌ مربوط به مولف، هدف نگارش، تاریخ نگارش و نحوه تهیه) در اختیار شما خواهد بود. همچنین شما قادر خواهید بود با استفاده از "فهرست موضوعی"، به مرور و گردش در کتاب‌ها بپردازید.
				
		در این قسمت، ماهیانه کتابهای انتخاب، تحلیل و برای مطالعه پیشنهاد میشود. علاوه بر این شما میتوانید از ترجمه و انتشار عنوان‌های جدید کتاب نیز خبردار شوید.
		قبلیت دیگر این بخش، راه اندازی کتابخانه الکترونیکی‌ و مدیریت مطالعه شخصیتان است.
		هدف اصلی‌ این قسمت، گردآوری تمامی کتابهای مسیحی‌ فارسی - از انتشارات مختلف، قدیمی‌ و جدید و بدون توجه به فرقه مربوطه - در بانک اطلاعاتی‌ و امکان جستجو در آن می‌باشد.
		</p>
		
		<div id="categoryBox">
			<h4>فهرست موضوعی</h4>
				<div class="right">
					<a href="#">الهیات</a><br>
					<a href="#">باستان شناسی‌</a><br>
					<a href="#">بشارت</a><br>
					<a href="#">بیوگرافی</a><br>
					<a href="#">تاریخ کلیسا</a><br>
				</div>
				<div class="right">
					<a href="#">تفسیری</a><br>
					<a href="#">خانواده</a><br>
					<a href="#">خدمت</a><br>
					<a href="#">داستانی</a><br>
					<a href="#">دفاعیات</a><br>
				</div>
				<div class="right">
					<a href="#">رازگاهان</a><br>
					<a href="#">زندگی‌ مسیحی‌</a><br>
					<a href="#">شاگردسازی</a><br>
					<a href="#">فرقه ها</a><br>
					<a href="#">کتاب مقدس</a><br>
				</div>
				<div class="right">
					<a href="#">کلاسیک</a><br>
					<a href="#">کودکان</a><br>
				</div>
				<br>
		</div> <!-- categoryBox -->
	</div><!-- bookBox -->
	
	<div id="blogBox">
		<div id="latestPost"><h3>بلاگ</h3></div>
		<div id="latestPostImg"><img src="@post.image" alt="@post.title" title="@post.title"></div>
		<div id="latestPostSum">
			آخرین مطلب منتشر شده:
			<h4>@post.title</h4>
			<p id="@post.postID">@post.content</p>
			<script>clamping();</script>
			<a href="@routes.Blog.display(post.language)"><p>ادامه مقاله ...</p></a>
		</div>
		<div id="clear"></div>
		<div id="latestPostLinks"><h4><a href="@routes.Blog.display(post.language)">مشاهده تمامی مطالب بلاگ<em> فارسی ریدز</em></a></h4></div>
	</div><!-- blogBox -->
	
	
	
	<div id="activityBox">
		<h3>فعالیت ها</h3>
		<ul id="activityList">
			<li><div id="service"><img src="" alt="srvc"><p>ترجمه کتابها و مقالات ارزشمند</p></div></li>
			<div id="clear"></div>
			<li><div id="service"><img src="" alt="srvc"><p>برگزاری سمینار و ورکشاپ‌های کتابخوانی</p></div></li>
			<div id="clear"></div>
			<li><div id="service"><img src="" alt="srvc"><p>کمک به تاسیس کتابخانه در کلیسای شما</p></div></li>
			<div id="clear"></div>
		</ul>
		<div id="clear"></div>
		<br>
		<a href="#ToService">مشاهده جزئیات فعالیت‌ها و خدمات</a>
	</div> <!-- activityBox -->
	
	
	<div id="qoutationBox">
		<h3>بیان شیرین</h3>
		<div style="display : inline;">
			<a href="#author"><img src="@routes.Assets.at("images/CSlewis.jpg")" alt="author'sName"></a>
			<div id="quoteText">
				"به مسیحیت ایمان دارم همانگونه که ایمان دارم آفتاب طلوع کرده؛ نه فقط به خاطر اینکه آن را میبینم، بلکه توسط آن قادرم همه چیز‌های دیگر را ببینم."
				<br> -
				<a href="#author's">سی‌.اس‌ لوئیس</a>
			</div>
		</div>
		
<!-- 		<div style="display : none;"> Quote 2</div>
		<div style="display : none;"> Quote 3</div>
		<div style="display : none;"> Quote 4</div> -->
		
	</div> <!-- qoutationBox -->
	<div id="clear"></div>
	
}{
	<p>Right content for index محتوا اینجا</p>
}

	
