@(post : BlogPost, user : User, commentForm : Form[BlogComment],comments : List[BlogComment])

		@alreadyRated = @{BlogComment.isRatedBy(user,post)}
		@blogAverageRating = @{BlogComment.getPostRating(post)}
<!-- ----------------Farsi Edition ------------------------ -->

@headfill = {	 
		
		<!-- This meta tages is for G+ snippet rendering -->
		<meta itemprop="name" content="@post.title">
		<meta itemprop="image" content="@post.image">
		<meta itemprop="description" content="@post.content">
		
		<!-- This meta tages is for FB snippet rendering -->
		<meta property="og:site_name"     content="FarsiReads"/>
		<meta property="fb:app_id"        content="1664962823738581"/>
		<meta property="og:type"          content="book" />
		<meta property="og:url"           content="http://www.farsireads.com/farsi/blog/postid=@post.postID" />
		<meta property="og:title"         content="@post.title" />
		<meta property="og:image"         content="@post.image" />
		<meta property="og:image:width" content="799" />
		<meta property="og:image:height" content="531" />
		<meta property="og:image:type" content="image/jpg" />
		<meta property="og:description"   content="@post.content" />
		

		}
		
		
@FaMain(post.title)(headfill){
	
	<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
     <script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/commentFarsi.css")">

	</head>



        		<div id="clear"></div>
        		
        		<div id="socialBar">
				   @if(user.fName == "Guest"){
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a><img src="@routes.Assets.at("images/icons/homeInactive.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/friendsInactive.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/messageInactive.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/notificationInactive.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/profileInactive.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/settingsInactive.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					} else {
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a href="@routes.Application.loggedIn"><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showFriends("farsi",user.email)"><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showProfile("farsi", user.email)"><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showSettings("farsi")"><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					}
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>میهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index"> ورود </a></dd>
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>	

				
}{
	<script type="text/javascript">
		var clp = document.getElementById("contentLeftPanel");
		clp.style.width = "800px";
		clp.style.float = "right";
	</script>

	<div id="post" style="padding : 10px 30px 5px 20px;">
		<div id="pt" ><h2>@post.title</h2></div>
		
		<div id="postRating" class="starRating">
				  <div>
				    <div>
				      <div>
				        <div>
				          <input id="rating1" type="radio" name="postRating" value="1">
				          <label for="rating1"><span>1</span></label>
				        </div>
				        <input id="rating2" type="radio" name="postRating" value="2">
				        <label for="rating2"><span>2</span></label>
				      </div>
				      <input id="rating3" type="radio" name="postRating" value="3">
				      <label for="rating3"><span>3</span></label>
				    </div>
				    <input id="rating4" type="radio" name="postRating" value="4">
				    <label for="rating4"><span>4</span></label>
				  </div>
				  <input id="rating5" type="radio" name="postRating" value="5">
				  <label for="rating5"><span>5</span></label>
		</div>
		<script>
		var rates = document.getElementsByName('postRating');
		var avg =  @blogAverageRating;
		if(avg > 0){
			rates[avg-1].checked =true;
			var ratingBox = document.getElementsByName('postRating');	
			//TODO: make the ratingBox unclickables
			//ratingBox.inactive = true;
		}

		</script>
		<div id="clear"></div>
				<div id="resourceMeta">
					<ul> 
						<li id="topic">موضوع: @post.topic</li>
						<li> نوشته: 
							@{AuthorTranslation.getAuthor(post.author.authorID,"farsi").fName}
							@{AuthorTranslation.getAuthor(post.author.authorID,"farsi").lName}
						</li>
						
					</ul>
					<time id="time">@post.published.format("dd-MM-yyyy")</time>
		</div>
		<br>
		<div id="pi" ><img alt="@post.title" src="@post.image"></div>
		<br>
		<!-- @@Html(): if we do not want to escape the content parts(e.g. ignoring HTML tags),wrap it in template content type -->
		<div id="pcFarsi" > @Html(post.content) </div>
		<br>
		
		<!-- -------------------------rating section to be implemented--------------------- -->

		<br>
		@if(user.fName == "Guest"){
			<script type="text/javascript">
				/*This script is used to disable the commentComment DIV to  
					disable the GUEST users to comment
				*/
				var crp = document.getElementsByClassName('starRating');
				crp.style.display = "none";
			</script>
		}else{
		
			@if(!alreadyRated){
			لطفا به این مطلب امتیاز دهید: (جهت ثبت امتیاز دهی‌، مختصراً در بخش نظرات درباره‌ این مقاله بنویسید.)
			<br>

		
			<div class="starRating" id="starRating" onclick="rateIt();">
				  <div>
				    <div>
				      <div>
				        <div>
				          <input id="rating1" type="radio" name="rating" value="1">
				          <label for="rating1"><span>1</span></label>
				        </div>
				        <input id="rating2" type="radio" name="rating" value="2">
				        <label for="rating2"><span>2</span></label>
				      </div>
				      <input id="rating3" type="radio" name="rating" value="3">
				      <label for="rating3"><span>3</span></label>
				    </div>
				    <input id="rating4" type="radio" name="rating" value="4">
				    <label for="rating4"><span>4</span></label>
				  </div>
				  <input id="rating5" type="radio" name="rating" value="5">
				  <label for="rating5"><span>5</span></label>
			</div>
			}
		}
 		
 		<script type="text/javascript">
			function rateIt(){
				var rates = document.getElementsByName('rating');
				var rate_value=0;
				for(var i = 0; i < rates.length; i++){
				    if(rates[i].checked){
				        rate_value = rates[i].value;
				    }
				}
				var rateInput = document.getElementById("rating");
				rateInput.value = rate_value;
				document.getElementById("textArea").value = "#ریتینگ "+rate_value + " : "; 
				return rate_value;
			}

		</script>
		
		<!-- ------------------------------end of rating --------------------- -->
		<div id="clear"></div>	
		<br>
		
		<div class="shareBox">
			<p>این مطلب را با دوستانتان در شبکه‌های زیر به اشتراک بگذارید:</p>
			<!-- -----------------------FB------------------- -->
			<div class="fb-share-button" data-href="http://www.farsireads.com/farsi/blog/postid=@post.postID" 
				data-type="button_count" >
			</div>
			<!-- -----------------------FB------------------- -->

			<!-- -----------------------g+------------------- -->
			<div class="g-plus" data-action="share" data-annotation="bubble" 
				data-href="http://www.farsireads.com/farsi/blog/postid=@post.postID">
			</div>
			
			<!-- -----------------------g+------------------- -->
			<div id="clear"></div>
		</div><!-- end of shareBox -->
		<br>
		
		<!-- ----------------------COMMENTING SECTION--------------------- -->
		<fieldset>
			<legend><h3> بخش نظرات </h3></legend>
			
			@if(user.fName == "Guest"){
				<script type="text/javascript">
					/*This script is used to disable the commentComment DIV to  
						 disable the GUEST users to comment
					*/
					var crp = document.getElementById("commentComments");
					crp.style.display = "none";
				</script>
				<p>برای ارسال نظرات خود میبایست به "فارسی‌ ریدز" وارد شوید</p>
				<a href="@controllers.controllersFarsi.routes.ApplicationFa.index"><h3 style="padding-right:10px;">برای ورود، لطفا اینجا را کلیک کنید</h3></a>

			}else{
			<section id="commentComments">

				@helper.form(routes.Blog.postComment(post.language,post.postID)){
					<input id="rating" type="hidden" name="rating">
					<textarea class="form" id="textArea" name="comment" placeholder="نظر خود را بنویسید" ></textarea>
		        	<button class="subBtn" id="btn" type="submit" value="post" formmethod="post">پست</button>
				}
	        	<script>
					//this is to initialize the Rating to the zero.
					var rateInputInitial = document.getElementById("rating");
					rateInputInitial.value = 0;
	        	</script>
		        @if(commentForm.hasGlobalErrors){
		        	<p id="error"> @commentForm.globalError.message </p>
		        }else{
					<script type="text/javascript">
							//document.getElementById('commentComments').scrollIntoView();
					</script>
		        }
		    }    
			</section>
			
			<section id="commentContent">
				@if(comments.isEmpty){
					<p>تاکنون کسی‌ نظر نداده است. نخستین باشید.</p>
				}
				<!-- to load the previous comments -->
				<ul id="commentList">
					@comments.map{ comment =>
										 <li>@views.html.comment(comment,user)</li>
					}
				</ul>
			</section>
			
			
			

		</fieldset>
		<!-- --------------------------end of Commenting-------------------- -->
		
	</div><!-- end of post -->
}{

<script type="text/javascript">
	/*This script is used to disable the rightPanel to make 
		  more room for the actual blog content
	*/
	var crp = document.getElementById("contentRightPanel");
	crp.style.display = "none";
</script>

<p>right content is disabled</p>
}