@(user : User)(called : User)(books : List[models.Book])

<!-- -----------------------------فارسی-------------------------- -->

		
		@readingBooks = @{Books.latestReadingBooksby(called)}
		@latestReadingBook = @{readingBooks.head}
		@bookTranslation = @{BookTranslation.getBookDetails(latestReadingBook.bookID,"farsi")}
		@authorList = @{BookAuthor.getAuthorList(latestReadingBook.bookID)}
		 

		
		<!-- This is used to get only one Author in the case of multiple one -->
		@author1 = @{BookAuthor.getAuthorList(latestReadingBook.bookID).get(0)}
		@authorDetail = @{AuthorTranslation.getAuthor(author1.authorID,"farsi")}
		
		@areFriends = @{controllers.Relationship.checkFriendship(user,called)}
		@friendsInCommon = @{controllers.Relationship.friendsInCommon(user,called)}
		@FriendList = @{controllers.Relationship.friendList(called)}


@headfill = {	 
		<!-- This meta tages is for G+ snippet rendering -->
		
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FarsiSettings.css")">
		<script src="@routes.Assets.at("javascripts/jquery-1.11.3.js")" type="text/javascript"></script>

	@if(readingBooks.length != 0){
		<script type="text/javascript">			

		$(document).ready(function() { 
				      		     
				$.ajax({
				            type : 'GET',
				            url : '@controllers.routes.Books.getBooksUserRating(readingBooks(0).bookID,called.email)',
				            dataType : "json",
				            success : function(data) {	
				                 //the average rating of the book, placed in the Book model.(Displayed on top)
				                 //var rates = document.getElementsByName('postRating');
				         		 //var avg =  data.userRating;
				         		 //rates[avg-1].checked =true;
				         		 //the rating of the logged user; it can be changed by the Books.rateTheBook()
				         		 var user_rating = data.bookRating;
				         		 var star_rating = document.getElementsByName('Rating');
				         		 star_rating[user_rating-1].checked =true;
				         		 console.log(user_rating);
				                return true;
				            },
				            error : function(data) {
				                setError('getBooksUserRating call failed');
				                window.alert("getBooksUserRating call failed");
				                console.log("this is the length of the array ");
				            }
				  }); /*end of second AJAX call*/

				  return false;  				        
		});	
		</script>
	
		<script type="text/javascript">
	    	//this code is do disable the Bookrating stars
	 	    $(document).ready(function() {
		    	document.getElementById("rating1").disabled=true;
		    	document.getElementById("rating2").disabled=true;
		    	document.getElementById("rating3").disabled=true;
		    	document.getElementById("rating4").disabled=true;
		    	document.getElementById("rating5").disabled=true;
		    }); 
   		</script>
   	}<!-- end of if -->	
   		
}
		
@farsiEdition.FaMain("پروفایل")(headfill){

        		<div id="socialBar">

					@if(user.fName == "Guest"){
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a><img src="@routes.Assets.at("images/icons/homeInactive.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/friendsInactive.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/messageInactive.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/notificationInactive.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/profileInactive.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/settingsInactive.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					} else {
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a href="@routes.Application.loggedIn"><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showFriends("farsi",user.email)"><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showProfile("farsi", user.email)"><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showSettings("farsi")"><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					}
					
										
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>مهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index"> ورود </a></dd>
								}
							</dl>
						</header>
        			</div><!-- socialBarLeftFarsi (loggedIn) -->
        		</div><!-- socialBar -->
        		
        		

}{
	<!-- Left Panel -->
	<div id="profile">
		<div id="rightAlignedImage">
		
		@if(called.photo == ""){
			@if(called.gender){
				<img class="usrPhoto" title="@called.fName" src="@routes.Assets.at("/images/woman.png")">
			}else {
				<img class="usrPhoto" title="@called.fName" src="@routes.Assets.at("/images/man.png")">
			}
		}else{
			<a href="#"><img class="usrPhoto" title="@called.fName" src="@called.photo"></a>
		}
		<div id="reviews">تعداد نقدها : </div>
		</div>
		
		
		
		<div id="userInfoBox">
			<h3 class="userProfileName">@called.fName  @called.lName</h3>
			<div class="infoBoxRowTitle">تاریخ عضویت در فارسی ریدز : @called.registrationDate.format("dd.MM.yyyy")</div>
			<div class="infoBoxRowItem">تاریخ تولد : @called.day /@called.month /@called.year</div>
			<div id="clear"></div>
			@if(called.description != ""){
	  			<div class="infoBoxRowTitle">فعالیت?</div>
				<div class="infoBoxRowItem">@called.description</div>  
			}
			
			@if(user.fName != "Guest" && user.fName != called.fName && !areFriends){
				<div id="userActions">
					<a href="@routes.Relationship.friendRequest(user.email,called.email)" class="fr-button">دوست شوید</a>
				</div>
			}
		</div>
	</div>
	<div id="clear"></div>
	
	<div id="favoriteBooks">
		<div class="title">کتابهای مورد علاقهِ "@called.fName"</div>
		@if(books.length != 0){
			@books.take(12).map{ book =>
				<a><img alt="" src="@book.photo"></a>
			}
		}
	</div>
	<div id="clear"></div>
	
	<div id="userBookShelf">
		<div class="title">قفسه کتاب "@called.fName"</div>
		<div class="shelfContainer"><a href="@routes.Books.showShelfAll("farsi", called.email)">خوانده شده</a></div>
		<div class="shelfContainer"><a href="@routes.Books.showShelfAll("farsi", called.email)">در حال مطالعه</a></div>
		<div class="shelfContainer"><a href="@routes.Books.showShelfAll("farsi", called.email)">خواهم خواند</a></div>
	</div>
	
	@if(readingBooks.length != 0){
		<div id="currentlyReading">
			<div class="title">"@called.fName" در حال مطالعه این کتاب است</div>
			<div id="currentlyReadingReviews">
				<div class="firstcol">
					<a href="@routes.Books.showBookProfile("farsi",latestReadingBook.bookID)" title="bookTitle"><img alt="" src="@latestReadingBook.photo"></a>
				</div>
				<div class="secondcol">
					<div class="userReview">
						<strong>"@called.fName" این کتاب را ارزیابی کرده است</strong>
							<div id="postRating" class="starRating">
								<div>
									  <div>
									  <div>
									  <div>
									  <input id="rating1" type="radio" name="Rating" value="1">
									  <label for="rating1"><span>1</span></label>
									  </div>
									  <input id="rating2" type="radio" name="Rating" value="2">
									  <label for="rating2"><span>2</span></label>
									  </div>
									  <input id="rating3" type="radio" name="Rating" value="3">
									  <label for="rating3"><span>3</span></label>
									  </div>
									  <input id="rating4" type="radio" name="Rating" value="4">
									  <label for="rating4"><span>4</span></label>
								</div>
									  <input id="rating5" type="radio" name="Rating" value="5">
									  <label for="rating5"><span>5</span></label>
							</div>
						
						
<!-- 						<span class="staticStars">
							<span name="rating" class="staticStar p10" size="15x15" title="really liked it">really liked it</span>
							<span class="staticStar p10" size="15x15" title="really liked it"></span>
							<span class="staticStar p10" size="15x15" title="really liked it"></span>
							<span class="staticStar p10" size="15x15" title="really liked it"></span>
							<span class="staticStar p0" size="15x15" title="really liked it"></span>
						</span> -->
					</div>
					<div id="bookTitle">
						<a class="bookTitle" href="@routes.Books.showBookProfile("farsi",latestReadingBook.bookID)">@bookTranslation.title</a>
					</div>
					<div>
						<span class="by smallText">نوشته</span>
						<a class="authorName" href="#">@authorDetail.fName @authorDetail.lName</a>
					</div>
				</div>
			</div>
		</div>
	}
	<div id="clear"></div>
		
		
	<div id="recentUpdates">"@called.fName" recent updates :</div>
	<div id="friendComment">to be implemented</div>
	

}{

	<!-- Right Panel -->
	@if(user.email != called.email && !friendsInCommon.isEmpty){
		<div id="friendsInCommon">
			<h3>دوستان مشترک (@friendsInCommon.length)</h3>
			
			@friendsInCommon.take(6).map{ freindInCommon =>
			
			<div>
				<!-- if the friend didn't pick a photo -->
				@if(freindInCommon.photo == ""){
					@if(freindInCommon.gender){
						<a href="@routes.Settings.showProfile("farsi",freindInCommon.email)"><img style="width:50px;height:66px;" title="@freindInCommon.fName" src="@routes.Assets.at("/images/woman.png")"></a>
						}else {
						<a href="@routes.Settings.showProfile("farsi",freindInCommon.email)"><img style="width:50px;height:66px;" title="@freindInCommon.fName" src="@routes.Assets.at("/images/man.png")"></a>
					}
				}else{
					<a href="@routes.Settings.showProfile("farsi",freindInCommon.email)"><img style="width:50px;height:66px;" title="@freindInCommon.fName" src="@freindInCommon.photo"></a>
				}
			
				<div class="friendName">@freindInCommon.fName @freindInCommon.lName</div>
			</div>
			<div id="clear"></div>
			}
		</div>
	}

	<div id="friendList">
		<h3> (@FriendList.length) دوستان @called.fName</h3>

		@FriendList.take(7).map{ friend => 
				@defining(controllers.Relationship.friendList(friend)) { friendList =>
					@defining(BookUser.userBookList(friend)) { bookList =>
					<div>
 						<!--  if the friend didn't pick a photo -->
						@if(friend.photo == ""){
								@if(friend.gender){
								<a href="@routes.Settings.showProfile("farsi",friend.email)" style="float:right;"><img style="width:50px;height:66px;" title="@friend.fName" src="@routes.Assets.at("/images/woman.png")"></a>
								}else {
								<a href="@routes.Settings.showProfile("farsi",friend.email)" style="float:right;"><img style="width:50px;height:66px;" title="@friend.fName" src="@routes.Assets.at("/images/man.png")"></a>
								}
						}else{
							<a href="@routes.Settings.showProfile("farsi",friend.email)" style="float:right;"><img style="width:50px;height:66px;" title="@friend.fName" src="@friend.photo"></a>
						} 
						<!--
						<a href="@routes.Settings.showProfile("farsi",friend.email)" style="float:right;"><img style="width:50px;height:66px;" title="@friend.fName" src="@friend.photo"></a>
						-->
						<div class="right">
							<div class="friendName">@friend.fName @friend.lName</div>
								@bookList.length کتاب
								<span class="greyText">|</span>
								@friendList.length دوست 
						</div>
					</div>
					<div id="clear"></div>
					}
				}
		}
		@if(user.fName != "Guest"){
			<div><a href="@routes.Settings.showFriends("farsi",called.email)">نمایش همه دوستان</a></div>
		}
	</div>
	
}