@(user : User, allBookUser : List[models.BookUser])

@headfill = {	 
		<!-- This meta tages is for G+ snippet rendering -->
		
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FarsiVL.css")">		
}
		

		
		
@FaMain("کتابخانه مجازی | همه کتابها")(headfill){
<!-- -------------------farsi Edition----------------------- -->

        		<div id="socialBar">
				   @if(user.fName == "Guest"){
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a><img src="@routes.Assets.at("images/icons/homeInactive.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/friendsInactive.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/messageInactive.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/notificationInactive.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/profileInactive.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a><img src="@routes.Assets.at("images/icons/settingsInactive.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					} else {
					   <div id="socialBarRightFarsi">
							<ul id="SNIcons" style="padding-left : 15px;">
								<li><a href="#"><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="20px" height="20px"></a></li>
								<li><a href="#"><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="20px" height="20px"></a></li>
								<li><a href="@routes.Settings.showSettings("farsi", user.email)"><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="20px" height="20px"></a></li>
							</ul>
						</div><!-- socialBarRightFarsi -->
					}
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>مهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index"> ورود </a></dd>
									
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		
}{
<!--  left content for VL AllBooks -->


	<table>
		<thead>
			<tr>
				<th>جلد</th>
				<th>عنوان</th>
				<th>مولف</th>
				<th>افزوده شده در تاریخ</th>
				<th>ویرایش</th>
			</tr>
		</thead>
		
		<tbody>
			<!-- This iterates through all the books of a logged user -->
			@allBookUser.map{ bookUser => 
			<!-- these statements are used to get the book detail and author detail -->
			@defining( BookTranslation.getBookDetails(bookUser.book.bookID,"farsi") ){bookTranslation => 
			@defining(BookAuthor.getAuthorList(bookUser.book.bookID).get(0)){author1 => 
					@defining( AuthorTranslation.getAuthor(author1.authorID,"farsi") ) { author => 
		
			<tr>
				<td class="field cover">
					<a href="#">
						<img style="display: block;width: 50px;" id="" src="@bookUser.book.photo" alt="@bookUser.book.isbn">
					</a>
				</td>
				<td class="field title">@bookTranslation.title</td>
				<td class="field author">@author.fName  @author.lName</td>
				<td>@bookUser.addedToVl.format("dd-MM-yyyy (hh:mm)") </td>
				<td>
					<!-- show the delete button  -->
					@helper.form(routes.Books.deleteFromShelfAll(bookUser.id,"farsi")){
						<input id="deleteBtn" type="submit" value="حذف کتاب" title="delete your post?">
					}
					
					<!-- show the edit options  -->
					<ul id="editOptions">
						@helper.form(routes.Books.moveToShelfRead(bookUser.id,"farsi")){
							<li><input id="moveToRead" type="submit" value="خوانده شده" title="خوانده شده"></li>
						}
						@helper.form(routes.Books.moveToShelfReading(bookUser.id,"farsi")){
							<li><input id="moveToReading" type="submit" value="در حال مطالعه" title="در حال مطالعه"></li>
						}
						@helper.form(routes.Books.moveToShelfToRead(bookUser.id,"farsi")){
							<li><input id="moveToToRead" type="submit" value="خواهم خواند" title="خواهم خواند"></li>
						}
					
					</ul>
				</td>
			</tr>
		
	
  	 		}}} 
  		 }<!-- the  'allBooks.map' ends here -->
  	   </tbody>

	</table>

}{
<!-- --------------------------پانل راست----------------------- -->



			@if(user.fName == "Guest"){
				<script type="text/javascript">
					/*This script is used to disable the virtualshelf DIV to  
						disable the GUEST users to see Virtual Library
						*/
					var crp = document.getElementById("virtualshelf");
					crp.style.display = "none";
				</script>
				<p>برای استفاده از امکانات کتابخانه مجازی، لطفا به فارسی ریدز وارد شوید</p>
				<a href="@controllers.controllersFarsi.routes.ApplicationFa.index"><h3 style="padding-right:10px;">برای ورود، لطفا اینجا را کلیک کنید</h3></a>
			
			} else {
				<div id="virtualshelf">
					<h3 class="rightBoxHeader">کتابخانه مجازی من<span> under construction </span></h3>
					<ul>
						<li style="border:1px solid #75bfb8;"><span style="font-weight:bold;">قفسه ها</span></li>
						<li><a href="#">همه</a></li>
						<li><a href="@routes.Books.showShelfRead("farsi")">خوانده شده</a></li>
						<li><a href="@routes.Books.showShelfReading("farsi")">در حال مطالعه</a></li>
						<li><a href="@routes.Books.showShelfToRead("farsi")">خواهم خواند</a></li>
					</ul>
				</div>
		
			}


}