@(user : User, feedbackForm : Form[Therapy.Feedback])
@import helper._

@FaMain("تشخیص و درمان"){


<!-- -------------------farsi Edition----------------------- -->

<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FarsiTherapy.css")">
     <script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarRightFarsi">
						<ul style="padding-left : 15px;">
							<li><a><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="14px" height="14px"></a></li>
						</ul>
					</div><!-- socialBarLeft -->
					
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">خروج</a></dd>
								} else {
									<dt>وضعیت کاربر : <span>میهمان</span></dt>
									<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index"> ورود </a></dd>
									
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>

}{
	<!----------------- پانل سمت چپ ------------------->
	
	<div id="discription">
		<p>در زیر لیستی از دلایلی آورده شده که مانع مطالعه کردن ما میشوند.</p>
		<p>چرا من مطالعه نمی‌‌کنم</p>
	</div>
	<div id="dignoseList">
		<ul>
			<li><a href="#noTime">اصلا برای مطالعه وقت ندارم.</a></li>
			<li><a href="#noTry">هیچ موقع تا به حال امتحان نکردم.</a></li>
			<li><a href="#noInterest">مطالعه کردن را دوست ندارم؛ خیلی‌ حوصله‌‌ سربر است.</a></li>
			<li><a href="#notFound">شاید تا به حال کتاب یا موضوع مورد علاقه‌ام را پیدا نکردم.</a></li>
			<li><a href="#space">مکان و فضای مناسب برای کتابخوانی ندارم.</a></li>
			<li><a href="#discipline">نظم و انضباط برای کتابخوانی ندارم.</a></li>
		</ul>
	</div><!-- dignoseList -->
	<div id="remedyList">
		<ul>
			<a name="noTime"></a>
			<li><div>
				<span>نداشتن زمان</span>
				<div id="desc">
					<p>اغلب می‌‌گوییم، وقت کتابخوانی برایم نمانده است؛ با این حال زمان برای کار‌های دیگر پیدا می‌کنیم: از جمله جر و بحث در فیسبوک، تماشای سریال‌های متعدد، به اشتراک گذاری لحظه‌ای جوک‌ها در وایبر و ... . معمولا اینترنت  را مقصر اصلی‌ مطالعه میدانیم. اینترنت حتی نحوه مطالعه ما را هم دست خوش تغییر قرار داده است: متن را سریع اسکن کرده، تلاش می‌کنیم الماس‌ها را از سنگریزه‌ها جدا کنیم، و سپس به صفحه بعدی بشتابیم. تمرکز ما آسیب دیده است. پژوهشگران می‌گویند ما در حال تغییر مغزمان به مغز هایی جدید و دیجیتال هستیم که آن اتصالاتی که طی هزاره‌ها در اثر مطالعه عمیق شکل گرفته، در آنها کمتر و کمتر دیده میشوند. مطالعه عمیق تخیل ما را تغذیه میکنند و در آن، ما به ساختن آدم ها، مکان‌ها و تجربیات می‌‌پردازیم. این بدان معنی‌ نیست که اینترنت دارد ما را احمق میسازد، بلکه در حال از دست دادن چیزی هستیم که مطالعه عمیق به همراه دارد: غوطه ور شدن، تمدد اعصاب، خروج از هیاهوی روزمرگی.</p>
					<p>ما همیشه متصل هستیم. بجای پیاده روی، افراد به صفحه گوشی‌های خود خیره می‌‌شوند، حتی هنگامی که در عجله برای رسیدن به سر کار هستند. در این دنیای پر سرعت، بندرت بتوانید کسی‌ را ببینید که کاری را تفریحانه، فقط برای لذت بردن از آن انجام دهد، فرقی‌ نمیکند که این گذراندن وقت در گپی زنی‌ با دوستان باشد؛ یا پرداختن به سرگرمی دلخواهتان برای لذت بردن از آن نه فقط به صرف ثبت آن در اینستاگرام؛ یا حتی تمرین و ورزش کردن. اخیرا می‌‌شنویم که به تناسب اندام هم میتوان فقط در یک تمرین چهار دقیقه‌ای نائل شد!

ما دیگر پذیرای احساسات تازه نیستیم. اگر شما به لیست کتاب‌های من در کیندل نگاه کنید، نیمی از کتب یا نخوانده شده یا ناتمام رها شده اند. من خواستار "جریان احساسات" در خود هستم ولی‌ دیگر خیلی‌ مشتاق نیستم که برایش صبر کنم. مطالعه "لذتی به تاخیر افتاده" است، هنگامی که شما در رسیدن به نتیجه نهایی "آهسته کاری" می‌کنید. ولی‌ افراد کمی‌ در بین ما "آهسته کاری" می‌‌کنند. بجای مزه مزه کردن و لذت بردن، می‌‌بلعیم؛ نه فقط غذا یا کلمات، بلکه همه‌چیز را.</p>
					<p>این حقیقتی است که شما برای آنچه دوست دارید و ارزش قائلید، زمان پیدا می‌‌کنید. با مطالعه <a href="@routes.Blog.display("farsi")">بلاگ فارسی ریدز</a>، میتوانید برای ترغیب کردن خود به مطالعه بهره ببرید.

در زیر نکاتی‌ جهت اختصاص زمان برای کتابخوانی پیشنهاد شده است:</p>
				
				<ul>
					<li>
					با کمی‌ خلاقیت، به فعالیت‌های روزمره خود نگاهی‌ انداخته و سعی‌ کنید از فرصت‌ها برای مطالعه بهره ببرید.
					</li>
					<li>
وسایل مطالعه خود را هرجا که می‌روید همراه داشته باشید. با این کار از فرصت‌های از دست رفته (در اتاق انتظار اداره جات، وقت غذا و استراحت، صف اتوبوس، مترو)، میتوان برای مطالعه استفاده کرد.
					</li>
					<li>
از اعضای خانواده خود درخواست کنید تا با کمک بیشتر در وظایف منزل، این امکان را به شما بدهند که روزانه، نیم ساعت وقت آزاد، در آرامش بجهت مطالعه داشته باشید.
					</li>
					<li>
اگر در سفر میان شهری یا کشوری هستید، کتاب مورد علاقه خود را به همراه ببرید، چون کتاب ها، همسفران خوب شما هستند.
</li>
<li>
کیفی خریداری کنید که بتوان در آن کتابی را حمل کرد.
</li>
<li>
یک دفترچه یاد داشت همراه داشته باشید که بتوان نکات جالب کتابی که در حال خواندنش هستید را در آن بنویسید. این به شما کمک می‌کند که یه قسمت از کتاب را مکرراً نخوانید.
</li>
<li>
اگر خیلی‌ خیلی‌ زمان کم دارید، کتاب‌های کوچک را مطالعه کنید.
</li>
<li>
هر شب قبل از خواب و صبح‌ها پس از بیدار شدن، زمان خوبی است برای بالا بردن سرانه مطالعه. این چنین زمان هایی میتوانند مطالعه را در برنامه روزانه شما به یک عادت تبدیل کنند. معمولا در این اوقات شما آرامش و سکوت نسبی‌ در محلتان دارید.
</li>
<li>
اگر متأهل هستید، میتوانید با همسرتان کتاب بخوانید. این میتواند موقعیتی عالی‌ باشد که بتوانید زمان آرامی را با هم بگذرانید. همچنین میتوانید کتاب را با صدای بلند برای دیگری روخوانی کنید.
</li>
<li>
اگر هرروز به اندازه یک یا دو صفحه زمان مطالعه دارید، همانقدر به مطالعه بپردازید، ولی‌ سعی‌ کنید پیوسته در آن باقی‌ بمانید.
</li>
</ul>

				
			</div><!-- "desc" -->	
			</div></li>
			
			<a name="noTry"></a>
			<li><div>
				<span>تجربه نکردن</span>
				<div id="desc">
					<p>اگر تا به حال لذت بردن از مطالعه کتاب را تجربه نکرده اید، پس بچشید و ببینید که نیکوست. در زیر پیشنهاداتی در باب شروع کتابخوانی آورده شده است:
					</p>
					<ul>
					
<li>
برای خود هدف بگذارید. بدون هدف، دشوار بتوانید به مقصد برسید. مثلا با خود تصمیم بگیرید که در طول کتابی که در دست دارید، احساسات یکی‌ از شخصیت‌های داستان را تجربه کنید، یا اینکه، تصمیم بگیرید که به نکات جدیدی که درباره موضوع کتاب یاد می‌گیرید تمرکز کنید. اگر با قصد و هدف مطالعه کنید، مغز خود را فعال می‌کنید.
</li>
<li>
مکان کوچکی را برای خود پیدا کنید تا آنجا "مرکز مطالعه شما" باشد. مطمئن شوید که در آنجا راحتی‌ نسبی‌ دارید و روشنایی کافی‌ برای مطالعه وجود دارد.
</li>
<li>
همیشه سعی‌ کنید با موضوع کتابی که قصد مطالعه آن را دارید ارتباط بر قرار کنید و آن را دوست داشته باشید. کتابی را که از آن کراهت دارید، نیمه کاره رها خواهید کرد!
</li>
<li>
اگر فکر می‌کنید که کتابی که در دست دارید، خسته کننده است، با کتاب جذابتری شروع کنید. اگر دلیل خسته کننده بودن، دشوار بودن کتاب است، با کتاب یا موضوع آسانتری تجربه لذت بردن از کتابخوانی را شروع کنید.
</li>
<li>
در ذهن خود فضائی از مطلبی را که دارید مطالعه می‌کنید را متصور شوید. بگذارید قوّه تخیلاتن شما را به درون داستان ببرد. به عنوان مثال اگر کتاب "ایوب" را مطالعه می‌کنید، تصور کنید که ایوب چه احساسی‌ دارد.
</li>
<li>
تصور کنید که اگر شما در آنجا بودید، چه اتفاقی در داستان می‌‌افتاد.
</li>
<li>
همراه مطالعه، از اسنک کوچکی لذت ببرید. مقداری تنقلات خوشمزه بر دارید؛ از جمله پارفه، سالاد، اسموتی میوه، یا میوه خورد شده.
</li>	
					</ul>
				</div>
			</div></li>
			<a name="noInterest"></a>
			<li><div>
				<span>علاقه نداشتن</span>
				<div id="desc">توضیحات راجع به این مشکل و راه‌های پیشنهادی</div>
			</div></li>
			<a name="notFound"></a>
			<li><div>
				<span>عدم دسترسی‌ به کتاب مورد علاقه</span>
				<div id="desc">
					<p>
						شما مطالعه کردن را دوست دارید ولی‌ در حال حاضر کتابی نمیخوانید چون موضوع یا کتاب مورد علاقه خود را نمی‌دانید و یا پیدا نمی‌کنید. در زیر پیشنهاداتی آورده شده که به شما در انتخاب کتابی برای مطالعه کمک خواهد کرد.

لیستی را تهیه کرده و به این سوالات پاسخ دهید:

چه سبک یا ژانری را دوست دارید؟ علمی‌ تخیلی‌، ماجرا جویی، رازگونه، تخیلی‌، تاریخی، روحانی؟

نویسنده مورد علاقه شما کیست؟ کتاب‌های نویسنده‌ای که در گذشته از نوشته‌هایش لذت بردید را جستجو کنید. احتمال اینکه کتاب‌ها دیگر آنها نیز مورد پسند شما باشد، زیاد است. 

آیا موضوع مشخصی‌ هست که شما به دنبال کردن کتاب‌های راجع به آن علاقمند باشید؟

با استفاده از کاتالوگ فارسی ریدز، شما میتوانید، کتاب مورد علاقه خود را پیدا کنید، و یا کتابهای نوشته شده توسط نویسنده مورد علاقه خود را لیست کنید. همچنین شما میتوانید به کمک "لیست موضوعی" در بخش کتاب، تمام کتاب‌های موضوعِ خاصی‌ که به آن علاقه بیشتری دارید، جستجو کرده، و با مطالعه چکیده کتاب و نگاهی‌ به نظراتِ خوانندگان، کتاب برگزیده خود را پیدا کنید.

شما میتوانید با تماس با فارسی ریدز، درباره‌ کتاب مناسب برای مطالعه مشورت بگیرید. همچنین میتوانید از نظرات دیگر خوانندگان در بخش نظرات بهره بگیرید.

در منوی کتاب، فارسی ریدز لیستی از کتاب‌های جدید را برای مطالعه به شما پیشنهاد می‌کند؛ همچنین "کتاب این ماه"، در همین بخش، توصیه بعدی ما برای تسهیل در انتخاب کتاب برای شما میباشد.
					</p>
				</div>
			</div></li>
			<a name="space"></a>
			<li><div>
				<span>نبود فضای مناسب</span>
				<div id="desc">
					<p>مکانی خوب برای مطالعه صرفا راحت‌ترین مکان نیست. ران پاجتِ شاعر در کتاب خود به نام "مطالعه خلاق" درباره داستانی‌ با مزه، راجع به تلاشی که در دوران نوجوانی ا‌ش داشته می‌نویسد. او تلاش میکرد برای مطالعه چنان مکان راهنتی تهیه کند که به "نیروانا" برسد. او در مکان مطالعه ا‌ش از بالشتک‌ها ، موسیقی پیش زمینه، علامت "مزاحم نشوید"، نوشیدنی‌های خنک و بیسکویت‌های متنوع استفاده می‌کند. تنها مشکل این بود که او در آن مکان خیلی‌ راحت مطالعه، خواب راحتی‌ کرد!

مکان مناسب مطالعه برای هر فرد میتواند متفاوت باشد. اگر شما سکوت را حین مطالعه دوست دارید، به کتابخانه محل خود بروید. اگر سکوت برایتان آزاردهنده است، مکان زنده تری را پیدا کنید. شاید یکی‌ از اتاق‌های کم رفت و آمد خانه را ترجیح دهید. اگر اهل شنیدن موسیقی در حین مطالعه هستید، و تمرکز شما را مخدوش نمیکند، میتوانید از موسیقی سبک امبینت( Ambient Music) در حین کتابخوانی لذت ببرید. برای مطالعه مکانی را انتخاب کنید که تا حد مقدور از هر گونه وسیله الکترونیکی‌ دور باشد تا در وسوسه چک کردن ایمیل و پست‌های فیسبوک و واتس آاپ و ... نیوفتید. به خود پیوسته یادآوری کنید که شما سوگند یاد نکرده اید که همهٔ تماس‌ها و پیام‌ها را سریعا جواب بدهید. اگر تماس گیرنده کار ضروری داشته باشد، و یا شما را دوست داشته باشد، با شما دوباره تماس خواهد گرفت.</p>
				</div>
			</div></li>
			<a name="discipline"></a>
			<li><div>
				<span>نداشتن نظم</span>
				<div id="desc">
					<p>نداشتن نظم در انجام وظایف روزانه یکی‌ از عوامل مهم غفلت در کتابخوانی است. در این بخش سعی‌ در آن است که به شما در برنامه ریزی بهتر امور روزانه و در تخصیص زمان برای مطالعه کمک کنیم. 
ابتدا به مبحث "برنامه ریزی" می‌‌پردازیم (عمدتاً با استفاده از کتاب Zeitmanagement für Faule نوشته خانم میشایلا سئول)، سپس به موضوع "افزایش بازدهی انجیل محور" (با بهره گیری از کتاب What's Best Next نوشته مت پرمن).

برنامه ریزی
هدف در این است که بتوانیم در نظم دهی‌ به زندگی‌ روزانه شما کمک کنیم تا در هر منصب یا نقشی‌ که در زندگی‌ دارید، بتوانید به طور پیوسته به کتابخوانی بپردازید. این قسمت به طور پیوسته کامل تر خواهد شد و در حال حاضر شما میتوانید از مطالب نسخه اولیه آن بهر ببرید.
فارغ از اینکه چه شغل یا نقشی‌(به عنوان مثال: مادر، فرزند) در زندگی‌ داریم، همیشه با مسائل پیشبینی‌ نشدنی‌ دست و پنج نرم می‌کنیم. یک راه حل در این مورد، داشتن برنامه هفتگی قابل انعطاف می‌‌باشد. راه حل مهم دیگر داشتن عادت‌های صحیح روزانه می‌‌باشد که در اینجا ما آنها را "روتین" می‌‌نامیم. اگر شما روتین‌های درستی‌ داشته باشید و آنها را اجرا کنید، انعطاف پذیری زیادی در کار‌های روزمره خود خواهید یافت. در اینجا به ذکر شش روتین می‌‌پردازیم که به شما کمک خواهند کرد که تعادل مناسبی ایجاد کرده، و وظایف درست و مهم را به انجام برسانید.
۶ روتین اصلی‌:

۱. زود از خواب بلند شوید
این عادت و روتین نخست است چون انجام دیگر روتین‌ها را امکان پذیر میسازد. اگر شما زود از خواب بر نخیزید، کل روز خود را در خطر بلا استفادگی قرار می‌دهید. اگر شما میتوانید ساعت ۵ صبح برخیزید، خیلی‌ عالی‌ است، ولی‌ این برای خیلی‌ از ما ناشدنی است. با این حال این واضح است که خیلی‌ از ما، باید زودتر از موقعی که در حال حاضر بر میخیزیم، از خواب بیدار شویم. یک استثنا در این بین وجود دارد و این برای کسی‌ است که خیلی‌ خیلی‌ دیر میخوابد. دکتر ال مهلر، رئیس دانشگاه Southern seminary از جمله این افراد است. او همیشه تا ساعت ۲ الی ۳ نیمه شب پشت میز کار خویش است. در نهایت این مهم نیست که شما خیلی‌ زود بیدار میشوید یا تا دیر وقت بیدار می‌مانید. نکته اینجاست که شما به بازه زمانی‌ بلند و متمرکز، برای انجام گردش کار خود و پروژه‌هایتان نیازمندید.

۲. گردش کار روزانه
منظور از "گردش کار روزانه"، ۶۰ تا ۹۰ دقیقه کار متمرکز در ابتدای هر روز است که در طعی آن شما به این ۴ وظیفه اساسی‌ میپردازید:
۱-روز خود را برنامه ریزی می‌کنید
۲-تمام ورودی‌های الکترونیکی‌ خود را پردازش می‌کنید، که این غالبا به معنی‌ چک کردن و جواب به اکثر ایمیل‌ها و پیام‌های صوتی و متنی دریافت شده است. چک کردن مداوم این ورودی‌ها باعث عدم تمرکز شما در کل روز خواهد شد.
۳-فعالیت اصلی‌ خود را انجام بدهید؛ که این شامل انجام مهمترین فعالیتی است که در حال حاضر به آن میپردازید. به عنوان مثال اگر شما در نظر دارید که هر روز زمانی‌ را صرف تفکر درباره‌ٔ استراتژی شرکت خود کنید، یا زبان خارجی‌ یاد بگیرید، یا برای بلاگ خود مطلب بنویسید، آن را اینجا انجام دهید.
۴-پس از اینکه فعالیت اصلی‌ خود را به پایان بردید، به لیستی از کارهای قابل انجام خود نگاه بیاندازید و در صورت امکان تعدادی از آنها را به پایان برسانید.

۳.گردش کار هفتگی
گردش کار هفتگی در مقایسه با گردش کار روزانه (غالبا برای وظایف کاری)، به جهت انجام وظایف خانگی است. مثلا کوتاه کردن چمنها، بردن همسرتان به رستوران یا پارک، داشتن زمان بازی با بچه ها.

۴.دعا‌ و کتاب مقدس
زمان گذاشتن در کلام و تامل در آن(مدیتیشن)، در شکل دادن به برنامه روزانه ما اهمیت دارند. شما میتوانید به این کار در ابتدای روز قبل از انجام کار‌های دیگر بپردازید. برخی‌ قبل از خواب به این کار می‌‌پردازند. مهم این است که در انجام آن غافل نشوید.

۵.مطالعه و پیشرفت
مطالعه به جهت یادگیری را فراموش نکنید. ال مهلر در اهمیت این موضوع میگوید: "وقتی‌ شما مطالعه می‌کنید، در حال سپرده گذاری در بانک هستید که روزی نیاز به برداشت از آن پیدا خواهید کرد. از کتاب‌هایتان استفاده کنید، فقط آنها را نخوانید؛ در آنها خط بکشید، درباره‌ٔ آنها صحبت کنید. کلکسیون کتاب درست نکنید، بلکه کتابخانه‌ای برای خود بسازید که به کارتان آید. به یاد داشته باشید که هیچگاه نخواهید توانست بیش از اندازه کتاب بخوانید. "

۶.استراحت
اگر استراحت کافی‌ در شب داشته باشیم، میتوانیم در روز بعدی کارها را با تمرکز بهتری انجام دهیم. حداقل یک روز در هفته فارغ از کار باشید.


افزایش بازدهی انجیل محور
برای تعریف بازدهی در زندگیمان، میبایست به خداوند رجوع کرد، به جای اینکه به توصیف یک سری مفاهیم بپردازیم و در این سوال باقی‌ بمانیم که "مهمترین کار الان چیست". چون خداوند چیزیست که از همه مهمتر است.
با انجام اینکار نگران این نباشید که وارد قلمرو غریب روحانی بشوید. کار‌های که روزانه انجام میدهیم اهمیت ویژه‌ای دارند زیرا آنها کانال‌های هستند که از طریق آنها ما خداوند و دیگر مردمان را خدمت می‌کنیم. در واقع، انجیل به ما می‌‌آموزد که منفعت رساندن به دیگران، میبایست انگیزه اصلی‌ ما در هر آنچه انجام میدهیم باشد، همچنین معیاری اصلی‌ که توسط آن بسنجیم که قدم بعدی در زندگیمان چه میتواند باشد. این نه تنها صحیح است بلکه همانگونه که بهترین متفکران بازرگانی نشان میدهند، بهترین راهی‌ است که بتوان بازدهی را افزود. مهمتر از آن اینکه، وقتی‌ این کار را با قدرت خدا و به عنوان پیشکشی برای خدا انجام میدهیم، او جلال پیدا کرده و بزرگی‌ او به دنیا نشان داده میشود.
برای اینکه در عصر ازدیاد اطلاعات و همزمان فرصت‌های جدید، بتوان موثر زندگی‌ کرد، می‌باید چهار چیز را انجام داد:

۱. تعریف: فهمیدن اینکه چه کاری را با زندگی‌ خود میخواهید انجام دهید
۲. طراحی‌: چگونه یک برنامه هفتگی خوب درست کنید
۳. کاستن: چگونه تمرکز حواس خود را حفظ کنید و کار‌های غیر ضروری را کاهش دهید
۴. اجرا: هفته خود را در چند قدم ساده برنامه ریزی کنید و پروژه‌های زندگیتان را اجرای کنید

نتیجه انجام این چیز‌ها نه تنها آرامش فکری خود ما و توانایی در اتمام کارها است، همچنین دگرگونی جهان توسط انجیل است زیرا در هر آنچه که انجام میدهیم و می‌گوییم در زندگی‌ روزانه است که میتوانیم نور انجیل را انعکاس دهیم.
یادگیری و اجرای روشهای افزایش بازدهی میتواند مشکل باشد. به آسانی می‌توان آنچه یاد گرفته‌اید و چگونگی انجام آن را فراموش کنید.یک راه حل این است که به این قسمت از وب سایت دوباره مراجعه کنید و مطالب را باز خوانی کنید. ولی‌ ۵ نکته را سعی‌ کنید که فراموش نکنید:

۱-بنیان: برای هدفتان، امنیت و راهنمایی، به خدا بنگرید
۲-هدف: خود را به خدا تقدیم کنید، و سپس برای سود رسانی به دیگران زندگی‌ کنید تا خداوند و نیکویی‌های او نشان داده شود.
۳-اصول راهنما: همسایه خود را همچون خویشتن دوست بدارید. با دیگران به گونه‌ای رفتار کنید که دوست دارید دیگران با شما رفتار کنند. در انجام کار نیکو، فعال باشید و حتی برای آن برنامه ریزی کنید.
۴-استراتژی اصلی‌: بدانید که چه چیزی از همه مهمتر است و آن را در اولویت اول قرار دهید.
۵-تاکتیک اصلی‌: هفته خود را برنامه ریزی کنید، هر هفته را! سپس، وقتی‌ در طول روز کاری پیش آمد، از خود بپرسید:" آیا این بهترین کاریست که الان باید انجام دهم؟" سپس، یا آن کار را همان لحظه انجام بدهید، یا اگر نمیتوانید، آن را در تقویم خود یادداشت کنید تا مطمئن شوید که در زمان مناسب آن را انجام می‌دهید.</p>
				</div>
			</div></li>
		</ul>
	</div><!-- remedyList -->
	
}{
	<!-- پانل سمت راست -->
	<div id="testimonial">
		<article>
			<h3 class="rightBoxHeader">شهادت نامه</h3>
			<a href="#"><img class="authorPhoto" src="https://d.gr-assets.com/authors/1262129906p2/13326.jpg"></a>
			<div id="info">
				<span>جاناتان فریان</span>
				<p>نوشته شده در 20.05.15</p>
			</div>
			<div id="clear"></div>
			<div class="readable">
				<span>شهادت شخصی‌ در باب اینکه این تشخیص و درمان ارایه شده کارا بوده است</span>
			</div>
		</article>
	</div><!-- testimonial -->
	
	<div id="eval">
		<span>ارزیابی:</span>
		@if(user.fName == "Guest"){
				<script type="text/javascript">
					/*This script is used to disable the feedback DIV to  
						 disable the GUEST users to send feedback
					*/
					var crp = document.getElementById("feedback");
					crp.style.display = "none";
				</script>
				<p>لطفا برای نوشتن ارزیابی، با شناسه خود وارد شوید</p>
				<a href="@controllers.controllersFarsi.routes.ApplicationFa.index"><h3>برای ورود اینجا را کلیک کنید</h3></a>

			}else{
			<section id="feedback">
			
				@helper.form(routes.Therapy.postFeedback("farsi")){
					<select name="subject">
						<option>موضوع</option>
						<option>نداشتن زمان</option>
						<option>تجربه نکردن</option>
						<option>علاقه نداشتن</option>
						<option>فقدان کتاب مورد علاقه</option>
						<option>نبود فضای مناسب</option>
						<option>نداشتن نظم</option>
					</select>
					<textarea id="textArea" name="feedback" style="width:260px;" placeholder="شهادت شخصی‌ در باب اینکه این تشخیص و درمان ارایه شده کارا بوده است" ></textarea>
		        	<br>
		        	<button id="btm" type="submit" value="post" formmethod="post">پست</button>
		        	
				}
				        
		        @if(feedbackForm.hasGlobalErrors){
		        	<p id="error"> @feedbackForm.globalError.message </p>
		        }else{
					<script type="text/javascript">
						/*document.getElementById('feedback').scrollIntoView();*/
					</script>
		        }
			</section>
			}
		
	</div><!-- eval -->
}

