@(user : User)

@main("About"){

<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarLeft">
						<ul>
							<li><a><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="14px" height="14px"></a></li>
						</ul>
					</div><!-- socialBarLeft -->
        			<div id="socialBarRight">
						<header id="socializingMenu">
							<dl id="user">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">logout</a></dd>
								} else {
									<dt>logged in as :  <span>@user.fName</span></dt>
									<dd><a href="@routes.Application.index">Log In</a></dd>
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>

}{
	<p>left content for About</p>
}{
	<p>right content for About</p>
}
