
@(post : BlogPost)
<!-- this is the helper template (used like functions) to handle each individual post
	--The structure of each post can be designed here -->


	<article id="postBox">
		<h4>@post.title</h4>
		<p>@post.image</p>
		<div id="resourceMeta">
			<ul>
				<li>By @post.author.fName @post.author.lName</li>
				<li id="topic">Topics: @post.topic</li>
			</ul>
			<time id="time">@post.published.format("dd-MM-yyyy")</time>
		</div>
		<div id="clear"></div>
		<div id="postContent">
				
			<p>@post.content</p>
				
		</div>
	</article>