@(user : User, posts : List[models.BlogPost])
@main("Blog"){

<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarLeft">socialNetworking Features</div>
        			<div id="socialBarRight">
						<header id="socializingMenu">
							<dl id="user">
								
								@if(user.fName != "Guest"){
									<dt> @user.fName <span>@user.email</span></dt>
									<dd><a href="@routes.Application.logout">logout</a></dd>
								} else {
									<dt>logged in as :  <span>@user.fName</span></dt>
									<dd><a href="@routes.Application.index">Log In</a></dd>
								}
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>

}{
	<!--  left content for Blog -->
	<div id="featuredBox">
		<a href="#blogpost">
			<img src="http://www.dehistoriske.com/img.aspx?th=litebilde&width=670&docrop=true&height=339&img=vertshusetroros-fasade.jpg" 
						style="display:Block;" width="600px" height="310">
		</a>
		<hgroup>
			<h2>Our Last Child Leaves Home</h2>
			<h4>By John Piper</h4>
		</hgroup>
	</div>
	
	<section id="postList">
			
					@posts.map{ post => 
							@views.html.blogPost(post);
					}
			
	</section>
	
}{
	
	<!--  Content Right comes here -->
	<div id="onlineUsersBox">
		<p>There are -- online Users.</p>
	</div>
	<div id="adBox">
		The advertisement of the Books and services as well as other websites come here
		<br>
	</div>
}
