@(message : String, form : Form[Application.Login], post : BlogPost , ga : List[String])


@main(message) {

		<head>
			<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/indexD.css")">
			<script src="@routes.Assets.at("javascripts/clamp.min.js")" type="text/javascript"></script>
			<script>
				var clamping = function(){
					var header  = document.getElementById("@post.postID");
					//header.style.backgroundColor ="RED";
					//clamp integer specifies the number of lines of text
					$clamp(header,{clamp : 8, useNativeClamp : true});
				}	
			</script>
		</head>
		
    	<div id="headContent">  
        		<div id="headContentLeft"></div>
        		<div id="headContentRight">
        				@helper.form(routes.Application.authenticate){
	        				<input class="form" type="text" name="lName" placeholder="Name" />
	        				<input class="form" type="email" name="email" placeholder="Email" />
	        				<input class="form" type="password" name="password" placeholder="Password" />
	        				<br/>
	        				<button type="submit" id="signinBtn">Sign In</button>
	        				<p style="padding-left:5px;">New to FarsiReads? Sign up <a href="/english/signUp" id="signUpLink">Here</a></p>
	        				@if(form.hasGlobalErrors){
	        					<p id="error">Error: @form.globalError.message </p>
	        				}
        				}
        		</div><!--headcontentRight (SignIn)-->
        </div><!--headContent-->
        
        
		
}{
	<!--  Content Left comes here -->
	

        <div id="infoBox">
            <h2>
                FarsiReads</h2>
            <p>
                <span>FarsiReads</span> is a Farsi Platform to provide the good and selected Farsi
                Reads(e.g. Books,Articles, Blog posts, etc.) for farsi-speaking people.</p>
            <p>
                It is social-based and interactive in a sense to encourage the reading in general
                and also promote the valuable Christian works. Its ambitious aim is to develop or
                even create the vital habit of reading which is absent in majority of the farsi-speakers
                including both Christians and non-christians alike.</p>
            <div class="line"></div>
            
            <!-- Dima deleted the bookBox DIV -->
            <h2>
                Books</h2>
            <p>
                In this section a collection of farsi Christian books and booklets including the
                original farsi works as well as translated ones are gathered in a database. You
                can search to see whether a specific topic is available in farsi and see a short
                summary of the book. You could also browse the books using the book categories which
                are sorted by topics. In this section we choose and analyse and recommend a book
                monthly; you could also be informed about the new titles which are translated or
                published. Using this section enables you to establish and organize your own virtual
                library to keep track of your already read and current reading books. The main purpose
                is to organize the complete collection of all farsi Christian works regardless of
                their confessions.
            </p>
        </div><!-- infoBox -->
        
        <div class="clear"></div>
        

        <div id="categoryBox">
            <h2>
                Topics</h2>
            <div class="right">
                <a href="#">Theology</a><br>
                <a href="#">Archaeology</a><br>
                <a href="#">Evangelism</a><br>
                <a href="#">Biography</a><br>
                <a href="#">Church History</a><br>
            </div>
            <div class="right">
                <a href="#">Commentary</a><br>
                <a href="#">Family</a><br>
                <a href="#">Service</a><br>
                <a href="#">Story</a><br>
                <a href="#">Apologetics</a><br>
            </div>
            <div class="right">
                <a href="#">Devotions</a><br>
                <a href="#">Christian Living</a><br>
                <a href="#">Discipleship</a><br>
                <a href="#">Sects</a><br>
                <a href="#">Bible</a><br>
            </div>
            <div class="right">
                <a href="#">Classics</a><br>
                <a href="#">Children</a><br>
            </div>
            <br>
            <!-- categoryBox -->
        </div>
        <!-- bookBox  "@routes.Assets.at("/images/door.jpg")"-->
 
 
 	<div id="blogBox">
            <div id="latestPost">
                <h2>
                    Blog</h2>
                <p>
                    Latest published post:</p>
                <span>@post.title</span>
            </div>
            <div id="latestPostContainer">
                <div id="latestPostSum">
						<div id ="imgCont">
							<img alt="Image" style="width: 253px; height: 168px;" src="@post.image">
						</div>
                        <p style="display:block;" id="@post.postID">@post.content</p>  
                      	<script>clamping();</script> 
                        <br>
                        <a href="@routes.Blog.showBlogPostFullContent(post.language,post.postID)">Read more ...</a>
                        <br>
                        <a style="color:#f26100;" href="@routes.Blog.display(post.language)">Go to the<b> FarsiReads</b> Blog</a>
                </div>

            </div>
            <div class="clear"></div>
			<div class="line"></div>

    </div><!-- blogBox -->
	
	
	<div id="activityBox">
		<h2>Activities</h2>
<!-- 
		<ul id="activityList">
			<li><div id="service"><img src="@routes.Assets.at("images/icons/Translate.gif")" alt="srvc"><p>Translating useful books and articles</p></div></li>
			<li><div id="service"><img src="@routes.Assets.at("images/icons/Seminar.gif")" alt="srvc"><p>Holding Seminars and Workshops to promote reading</p></div></li>
			<li><div id="service"><img src="@routes.Assets.at("images/icons/Help.gif")" alt="srvc"><p>Helping to establish a farsi library in the local church</p></div></li>
		</ul>
	
		<br>
-->


<!--         THE OLDER IMAGE VERSION OF THE ACTIVITIES
		<div id="TransDiv"><a href="#"><img src="@routes.Assets.at("images/Translating.jpg")" alt="Translate"/> </a></div>
        <div class="nextDiv"><a href="#"><img src="@routes.Assets.at("images/Seminars.jpg")" alt="Seminars"/></a></div>
        <div class="nextDiv"><a href="#"><img src="@routes.Assets.at("images/Library.jpg")" alt="FarsiLibrary"/></a></div>
 -->



			<!-- NEWER VERSION OF THE ACTIVITIES WITH CSS -->
			<a class="TransDiv" href="#">
				<div class="BannerText">
					<span class="H">Translating</span> <br /> Translating useful books
					and articles
				</div>
			</a>
			<a class="nextDiv1" href="#">
				<div class="BannerText">
					<span class="H">Seminars & Workshops</span> <br /> Holding Seminars
					and Workshops to promote reading
				</div>
			</a>
			<a class="nextDiv2" href="#">
				<div class="BannerText">
					<span class="H">Farsi library</span> <br /> Helping to establish a
					farsi library in the local church
				</div>
			</a><a href="#">Go to the Service section to see all activities</a> <a href="@routes.Services.display("english")">Go to the Service section to see all activities</a>
	
	</div> <!-- activityBox -->

	<div class="clear"></div>


		<div id="quotationBox">
			<h2>Quotation</h2>
			<div>
				<a href="#author">
					<div id="quoteimg" style="width: 100px; height: 100px;">
						<img src="@routes.Assets.at("images/CSlewis.png")" style="width: 100px; height: 100px;"
							alt="author'sName" />
					</div>
				</a>
				<div id="quoteText">
					"I believe in Christianity as I believe in sun; not only because I
					see it but through it I see everything." <br /> - <a href="#author's">C.S.Lewis</a>
				</div>
			</div>
			<!-- 		<div style="display : none;"> Quote 2</div>
				<div style="display : none;"> Quote 3</div>
				<div style="display : none;"> Quote 4</div> -->
		</div>		
		
		
		
		<!--OLD quotationBox -->

<!-- 		<div id="quotationBox">
			<h2 style="margin-top:4px;">Quotation</h2>
			<div style="display : inline;">
			<a href="#author"><img src="@routes.Assets.at("images/CSlewis.jpg")" alt="author'sName"></a>
			<div id="quoteText">
				"I believe in Christianity as I believe in sun; not only because I see it but through it I see everything."
				<br> -
				<a href="#author's">C.S.Lewis</a>
			</div>
		</div> 
		</div> 
-->

	
	<div id="clear"></div>
	
	}{
	
	<!--  Content Right comes here -->
	<div id="clear"></div>
		<div id="visitorCount">
		@for(g <- ga){ 
<!-- 			<p> FarsiReads Visitors :  <span>@g</span> </p> -->
				<p style="font-weight:bold; color:red;text-align: center;">This page is currently under construction!</p>
			}
		
		
	</div><!-- visitorCount -->
	
	<!-- -----------------------twitter---------------------- -->
	<a class="twitter-timeline" href="https://twitter.com/FarsiReads" data-tweet-limit="1"
		width="300px" data-chrome="nofooter"
		data-widget-id="485401626165780481">Tweets by @@FarsiReads
	</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>
	
	}