@(user : User)

<html>
<head>
     <title>loggedIn</title>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
<!-- <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> -->
     <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
		
			<div id="header">
        		<div id="navigation">
        			<div id="logo"><a href="#" rel="FarsiReads">FarsiReadsLogo</a></div><!-- logo -->
        			<div id="menu">
        				<ul>
        					<li><a href="#">Blog</a></li>
        					<li><a href="#">Books</a></li>
        					<li><a href="#">Services</a></li>
        					<li><a href="#">I don't Read</a></li>
        					<li><a href="#">About</a></li>
        				</ul>
        			</div><!-- menu -->

        		</div><!-- navigation -->
        		<div id="clear"></div>
        		
        		<div id="headContent">
        			<div id="headContentLeft">Headlines</div>
        			<div id="headContentRight">
						<header>
							<dl id="user">
								<dt>@user.fName <span>@user.email</span></dt>
								<dd>logout</dd>
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>
        	</div><!-- header -->
        	
        	<div id="content">
        		<div id="contentleftPanel">content comes here</div><!-- leftPanel -->
        		<div id="contentRightPanel">rightPanel</div><!-- rightPanel -->
        	</div><!-- content -->
        	
        	<div id="clear"></div>
        	
        	<div id="footer">&copy; 2014 FarsiReads Inc</div><!-- footer -->

	</div><!-- wrapper -->
</body>
</html>