@************************************
** This is the loggedIn v.1      **
** it just welcomes the user and **
** suggest him to to to the blog **
** and leave comments. It should **
** eventually display the recent **
** activities of all the users as**
** community review.
************************************@

@(user : User)

@farsiEdition.FaMain("به فارسی ریدز خوش آمدید"){

<head>
     <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/logged.css")">
</head>

        		<div id="clear"></div>
        		
        		<div id="socialBar">
        			<div id="socialBarRightFarsi">
						<ul style="padding-left : 15px;">
							<li><a><img src="@routes.Assets.at("images/icons/home.png")" alt="home" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/friends.png")" alt="friends" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/message.png")" alt="message" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/notification.png")" alt="notification" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/profile.png")" alt="profile" width="14px" height="14px"></a></li>
							<li><a><img src="@routes.Assets.at("images/icons/settings.png")" alt="settings" width="14px" height="14px"></a></li>
						</ul>
					</div><!-- socialBarLeft -->
        			<div id="socialBarLeftFarsi">
						<header id="socializingMenu">
							<dl id="userFarsi">
								<dt>@user.fName <span>@user.email</span></dt>
								<dd><a href="@routes.Application.logout">خروج</a></dd>
							</dl>
						</header>
        			</div><!-- headcontentRight (loggedIn) -->
        		</div><!-- headContent -->
        		<div id="clear"></div>

}{
	<!--  left content for LOGGEDIN -->
	<br>
	<div id="welcome">
		<p>دوست عزیز،</p>
		<span>@user.fName   @user.lName</span>
		<h3>از ورود شما به سایت فارسی ریدز خرسندیم</h3>
		<p>فارسی ریدز پلت فرمی فارسی است که برای فراهم نمودن مطالب خوب و دست‌چین شده (از جمله کتاب، مقاله، بلاگ پست، شعر) در دسترس شما است</p>
	</div><!-- welcome -->
	<br>
	<div id="introTour">
		<h3>با روش استفاده و امکانات "فارسی ریدز" آشنا شوید</h3>
		<p>ویدئو یا مراحل استفاده اینجا</p>
	</div><!-- introTour -->
	<br>
	
	<div id="phase">
		<h4>توسعه خدمات و امکانات</h4>
		<ul>
			فاز اول "فارسی ریدز" کامل شده است
			<li>
				<p>شما میتوانید از  <a href="@routes.Blog.display("farsi")">بلاگ فارسی ریدز </a>دیدن فرمائید. همچنین میتوانید به مطالب نمره دهید و نظر خود رو به اشتراک بگذارید.</p>
			</li>
			<li>
				<p>شما میتوانید در سایت ثبت‌نام کنید و  <a href="@routes.About.display("farsi")"> با ما </a>و  <a href="#services"> خدمات </a>فارسی ریدز آشنا شوید </p>
			</li>
		</ul>

	</div><!-- redirect -->
	<br>
}{
	<!--  right content for LOGGEDIN -->
	
	<div id="adBox">
		در صورتی که در ورود به سیستم دچار مشکل شده اید، به ما اطلاع دهید
		<br>
		<a href="@routes.About.display("farsi")">تماس با ما</a>
	</div>
	
	<!-- -----------------------twitter---------------------- -->
	<a class="twitter-timeline" href="https://twitter.com/FarsiReads" data-tweet-limit="1"
		width="300px" data-chrome="nofooter"
		data-widget-id="485401626165780481">Tweets by @@FarsiReads
	</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>
}
