@(title :String)(headerContent: Html)(contentLeft : Html)(contentRight : Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/logoMini.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <div id="wrapper">
        	<div id="header">
        		<div id="navigation">
        			<div id="logo">
        				<a href="@routes.Application.loggedIn" rel="FarsiReads">
							<img alt="FarsiReadsLogo" src="@routes.Assets.at("images/logoFarsiReads.png")">
						</a>
					</div><!-- logo -->
					<div id="languages">
							<dl id="languageBar">
								<dt>languages:</dt>
								<dd><a href="@controllers.controllersFarsi.routes.ApplicationFa.index">فارسی</a></dd>
								<dd>English</dd>
							</dl>
					 </div> 
        			<div id="menu">
        				<ul>
        					<li><a href="@routes.Blog.display("english")">Blog</a></li>
        					<li><a href="@routes.Books.display">Books</a></li>
        					<li><a href="@routes.Services.display">Services</a></li>
        					<li><a href="#">I don't Read</a></li>
        					<li><a href="@routes.About.display">About</a></li>
        				</ul>
        			</div><!-- menu -->
        		</div><!-- navigation -->
        		
        		<div id="clear"></div>
        		
        		<!-- the content includes the headerContent which has the img and signUp sections -->
        		@headerContent

        		<div id="clear"></div>
        		
        	</div><!-- header -->
        	<div id="clear"></div>
        	
        	<div id="content">
        		<div id="contentleftPanel">@contentLeft</div><!-- leftPanel -->
        		<div id="contentRightPanel">@contentRight</div><!-- rightPanel -->
        	</div><!-- content -->
        	
        	<div id="clear"></div>
        	
        	<div id="footer">
        		<div id="footerBox">&copy; 2014 FarsiReads Inc  |  Imprint  |  About  |  Contact us  |  Donate</div>
        	</div><!-- footer -->
        	
        </div><!-- wrapper -->
        
    </body>
</html>
