@(registerform : Form[models.User])
@import helper._

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Registeration</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signup.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/logoMini.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
	<div id="registerForm">
		@helper.form(routes.Signup.authenticate){
		<fieldset>
			<legend>Welcome to the Registration Form:</legend>
			@inputText(registerform("fName"), '_label -> "first Name")
			@inputText(registerform("lName"), '_label -> "Last Name")
			@inputText(registerform("email"), '_label -> "Email", '_help -> "PLZ enter your active email account")
			@inputText(registerform("repeatEmail"), '_label -> "Re-enter email", '_error -> registerform.globalError)
			@inputText(registerform("password"), '_label -> "Password")
			@inputText(registerform("birthdate"), '_label -> "Birthday")
			@inputText(registerform("address"), '_label -> "Address")
			
			<input type="submit" value="Sign Up" >
			
        }
        </fieldset>
	</div>
</div>
</body>
</html>